<template>
	<div class="container">
		<b-tabs no-body v-model="currentTab" v-if="selectedPage">
			<template slot="tabs" v-if="Object.keys(cachePage).length > 1">
				<!-- <b-nav-item class="button-tab col"> -->
					<el-select v-model="selectedPage" placeholder="Select" @change="selectPageSetting">
				    <el-option
				      v-for="(item, index) in cachePage"
				      :key="index"
				      :label="item.name"
				      :value="index">
							<img style="float: left; line-height: 34px;margin: 5px auto;" class="rounded-circle text-center" :src="item.avatar" width="24px" height="24px" rounded/>
							<span style="float: left;padding-left:3px;">{{ item.name }}</span>
				    </el-option>
				  </el-select>
				<!-- </b-nav-item> -->
			</template>
			<b-tab @click="tabChanged(['generalSetting', 'tagsSetting'], 0)" title="Cài đặt chung">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<!-- <div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.notification">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">
                  Thông báo tin nhắn mới (Đang phát triển)
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="'Mỗi khi có tin nhắn hoặc bình luận mới từ Facebook, bạn sẽ nhận đưuọc thông báo từ trình duyệt'"></i>
              </span>
						</div> -->
						<!-- <div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.sound">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">
                  Âm thanh thông báo (Đang phát triển)
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="'Hệ thống sẽ phát ra âm thanh thông báo cập nhật mới'"></i>
              </span>
						</div> -->
						<div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.unread_first">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">
                  Hiển thị hội thoại chưa đọc trên đầu
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="'Hệ thống sẽ đẩy các hội thoại chưa đọc lên trên đầu danh sách các trao đổi để thuận tiện cho việc quản lý'"></i>
              </span>
						</div>
						<!-- <div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.auto_like">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">
                  Tự động nhấn thích khi trả lời comment (Đang phát triển)
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="'Mỗi khi bạn gửi trả lời cho bình luận của khách hàng trên Page, hệ thống sẽ tự động thích comment đấy'"></i>
              </span>
						</div> -->
						<!-- <div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.auto_create_order">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">

                  Tự động tạo đơn hàng (Đang phát triển)
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="'Mỗi khi tin nhắn trả về có chứa số điện thoại, đơn hàng mới sẽ được tự động tạo trên hệ thống POS'"></i>

              </span>
						</div> -->
						<div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.auto_hide_comment">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">

                  Tự động ẩn bình luận
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="''"></i>

              </span>
						</div>
            <div class="setting-option pt-2 pb-2" v-if="generalSetting.auto_hide_comment">
              <el-switch v-model="generalSetting.auto_hide_comment_with_mobile">
              </el-switch>
              <span style="padding: 0px 5px 0px 10px;">

                  Chỉ ẩn bình luận có chứa số điện thoại (Đang phát triển)

              </span>
            </div>
            <!-- <div class="setting-option pt-2 pb-2" v-if="generalSetting.auto_hide_comment">
              <el-switch v-model="generalSetting.auto_unhide_comment">
              </el-switch>
              <span style="padding: 0px 5px 0px 10px;">

                  Tự động bỏ ẩn bình luận (Đang phát triển)
                  <i class="fa fa-question-circle pr-2" style="color: orange; margin-left: 5px; vertical-align: middle;"
           aria-hidden="true" v-b-tooltip.hover="'Bình luận được tự động ẩn sẽ được bỏ ẩn sau thời gian bạn chọn'"></i>
                  <b-btn class="message-recipient" id="exPopover20" style="cursor: pointer;" v-if="generalSetting.auto_unhide_comment">
                    {{generalSetting.auto_unhide_comment_time.name}}
                    <b-popover target="exPopover20" triggers="focus" placement="auto" :show.sync="auto_unhide">
                      <div class="p-1">
                        <div  style="display: block; width: 100%; text-align: center; border: 1px solid antiquewhite; color: lightcoral; background-color: cornsilk; margin: 5px 0px; padding: 2px 10px; border-radius: 2px; cursor: pointer;" v-for="item in dateMil" @click="generalSetting.auto_unhide_comment_time = item;auto_unhide = false">{{item.name}}</div>
                      </div>
                    </b-popover>
                  </b-btn>
              </span>
            </div> -->
						<div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.fix_undisplay_photo">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">

                  Sửa lỗi ảnh không hiển thị
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="'Sửa lỗi ảnh không hiển thị trên trang trong một số trường hợp như bài viết ẩn...'"></i>

              </span>
						</div>
						<!-- <div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.auto_next_conversation_when_enter_twice">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">

                  [Enter] 2 lần để chuyển sang tin nhắn chưa đọc kế tiếp (Đang phát triển)
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="''"></i>

              </span>
						</div> -->
						<!-- <div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.sync_inbox_with_facebook">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">

                  Đồng bộ trạng thái Inbox với Facebook (Đang phát triển)
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="'Đồng bộ trạng thái xem/chưa xem của Facebook giống như trong phần mềm'"></i>

              </span>
						</div> -->
						<!-- <div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.show_cached_avatar">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">

                  Sử dụng ảnh avatar lưu sẵn (Đang phát triển)
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="''"></i>

              </span>
						</div> -->
						<!-- <div class="setting-option pt-2 pb-2">
							<el-switch v-model="generalSetting.keep_conv_status_for_3rd_messages">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">

                  Giữ lại trạng thái của tin nhắn
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="''"></i>

              </span>
						</div> -->
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="setting-option pt-2 pb-2">
							<el-switch v-model="tagsSetting.multi_tag">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">

                  Chế độ sử dụng nhiều thẻ
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="''"></i>

              </span>
						</div>
						<!--<div class="setting-option pt-2 pb-2">
							<el-switch v-model="tagsSetting.full_tag">
							</el-switch>
							<span style="padding: 0px 5px 0px 10px;">

                  Chế độ hiển thị thẻ đầy đủ
                  <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
					 aria-hidden="true" v-b-tooltip.hover="''"></i>

              </span>
						</div>-->
            <fieldset>
              <legend>
                Thẻ hội thoại
                <span class="pull-right">
                  <button type="button" class="ant-btn btn-action-settings_qr btn-primary ant-btn-circle ant-btn-icon-only" style="color: rgb(255, 255, 255); background-color: rgb(29, 210, 17); border-color: rgb(29, 210, 17); margin-left: 5px;">
                    <i class="fa fa-refresh " aria-hidden="true" style="vertical-align: middle;"
                   v-b-tooltip.hover="''"></i>
                  </button>
                  <span style="color: rgb(136, 136, 136); font-weight: 500; font-size: 16px; padding: 0px 15px;">
                    ({{tagsSetting.tags?tagsSetting.tags.length:0}} {{_('Tag')}})
                  </span>
                  <button type="button" class="btn btn-xs btn-outline-success btn btn-default" @click="addNewTag">Thêm</button>
                </span>
              </legend>
							<draggable v-model="tagsSetting.tags" :options="{draggable:'.tag-element', handle: '.draggIcon'}"
										:list="tagsSetting.tags" :element="'div'"
										:move="checkMove"
										>
											<div class="tag-element" v-for="(tag, index) in tagsSetting.tags">
												<i class="draggIcon fa fa-retweet" style="line-height:45px;  font-size: 26px; cursor: pointer"></i>
												<span scope="footer" class="ant-input-group-wrapper ant-input-group-wrapper-lg">
													<span class="ant-input-wrapper ant-input-group">
														<input type="text" maxlength="15" v-model="tag['name']" class="ant-input ant-input-lg"/>
														<el-color-picker class="ant-input-group-addon" v-model="tag['backgroundcolor']" show-alpha></el-color-picker>
													</span>
												</span>
												<i class="fa fa-minus-circle delete-tags-btn" @click="removeTag(index)" style="top: 7px; position: absolute; color: red; right: 1px; font-size: 26px; cursor: pointer"></i>
											</div>

							</draggable>
            </fieldset>
					</div>
				</div>
			</b-tab>
			<b-tab @click="tabChanged(['replySetting'], 1)" title="Hỗ trợ trả lời">
				<div class="setting-option pt-2 pb-2">
					<el-switch v-model="replySetting.multi_tag">
					</el-switch>
					<span style="padding: 0px 5px 0px 10px;">

              Sử dụng chủ đề cho trả lời nhanh (Đang phát triển)
              <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
				 aria-hidden="true" v-b-tooltip.hover="''"></i>

          </span>
				</div>
				<div class="setting-option pt-2 pb-2">
					<el-switch v-model="replySetting.full_tag">
					</el-switch>
					<span style="padding: 0px 5px 0px 10px;">

              Sử dụng chức năng gợi ý câu trả lời nhanh (Đang phát triển)
              <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
				 aria-hidden="true" v-b-tooltip.hover="''"></i>

          </span>
				</div>
				<legend>
					<span>Trả lời nhanh</span>
					<ul class="chat-menu-bar float-right" style="padding-left: 10px; font-size: 26px;">
						<li style="width: 34px;">
							<button type="button " class="btn btn-success toggle-ban-customer-btn">
								<i class="fa fa-refresh " aria-hidden="true" style="vertical-align: middle;"
								   v-b-tooltip.hover="'Đồng bộ trả lời nhanh'"></i>
							</button>
						</li>
						<li style="width: 34px;">
							<button type="button " class="btn btn-danger toggle-ban-customer-btn">
								<i class="fa fa-upload " aria-hidden="true" style="vertical-align: middle;"
								   v-b-tooltip.hover="'Tải lên trả lời nhanh'"></i>
							</button>
						</li>
						<li style="width: 34px;">
							<button type="button " class="btn btn-primary toggle-ban-customer-btn">
								<i class="fa fa-download " aria-hidden="true" style="vertical-align: middle;"
								   v-b-tooltip.hover="'Tải xuống trả lời nhanh'"></i>
							</button>
						</li>
						<li style="width: auto;">
							<button type="button " class="btn btn-outline-success" @click="editTemplate(default_replyForm, undefined, 'replyForm', 'addFastReply')">
								Thêm mẫu câu
							</button>
						</li>
					</ul>
				</legend>
				<table class="table border table-hover">
					<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Shortcut</th>
						<th scope="col"></th>
						<th scope="col">Tin nhắn</th>
					</tr>
					</thead>
					<draggable v-model="replySetting.templates" :options="{draggable:'.item'}"
							   :list="replySetting.templates" :element="'tbody'">
						<tr v-for="(item, index) in replySetting.templates" style="cursor: pointer;" class="item">
							<th class="p-1" scope="row">{{index+1}}.</th>
							<td class="p-1" style="">{{item.Shortcut}}</td>
							<td class="p-1 position-relative text-light">
								<img v-if="(item.attachments && item.attachments.length > 0)" :src="item.attachments[0].url" width="25" height="23"/>
                <template v-if="item.attachments && item.attachments.length > 1">
                  <div class="position-absolute w-100 h-100 bg-dark" style="top: 50%;left: 50%;transform: translate(-50%, -50%);opacity: 0.6;"></div>
                  <div class="position-absolute text-nowrap w-100 h-100" style="top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center;line-height: 30px;" :id="'exPopover33' + index">+{{item.attachments.length}}</div>
                </template>
                <b-popover :target="'exPopover33' + index" triggers="hover focus" :placement="'top'" v-if="item.attachments && item.attachments.length > 1">
                  <div class="row m-1">
                    <template v-for="att in item.attachments">
                      <img  :src="att.url" width="25" height="23" class="m-1"/>
                    </template>
                  </div>
                </b-popover>
							</td>
							<td class="p-1 w-100 message-qr" v-b-tooltip.hover :title="item.Message">
								<div class="w-100 row">
									<div class="col-11 text-truncate">
										{{item.Message.length>100?item.Message.substring(0, 100)+"...":item.Message}}
									</div>
									<div class="actions-qr col-1 text-center">
										<i class="fa fa-pencil edit-qr text-light"
										   @click="editTemplate(item, index, 'replyForm', 'addFastReply')"></i>
										<i class="fa fa-trash-o delete-qr text-light"
										   @click="replySetting.templates.splice(index,1)"></i>
									</div>
								</div>
							</td>
						</tr>
					</draggable>

				</table>

				<div class="setting-option pt-2 pb-2">
					<el-switch v-model="replySetting.active_auto_reply"></el-switch>
					<span style="padding: 0px 5px 0px 10px;">{{_('ActiveAutoReply')}}
              			<i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;" aria-hidden="true" v-b-tooltip.hover="''"></i>
          			</span>
				</div>
				<div :style="replySetting.active_auto_reply?'':'opacity:0.6'">
					<legend>
						<span>Trả lời tự động</span>
						<ul class="float-right row">
							<li>
								<el-time-picker v-model="replySetting.auto_reply_start_time"
												:placeholder="_('Start_time')"></el-time-picker>
							</li>
							<li>
								<el-time-picker v-model="replySetting.auto_reply_end_time"
												:placeholder="_('End_time')"></el-time-picker>
							</li>
							<li style="width: auto;">
								<button type="button " class="btn btn-outline-success" @click="editTemplate(default_autoReplyForm, undefined, 'autoReplyForm', 'addAutoReply')">
									{{_('AddTemplate')}}
								</button>
							</li>
						</ul>
					</legend>
					<table class="table border table-hover">
						<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">{{_('Condition')}}</th>
							<th scope="col"></th>
							<th scope="col">{{_('Message')}}</th>
						</tr>
						</thead>
						<draggable v-model="replySetting.auto_reply_templates" :options="{draggable:'.item'}"
								   :list="replySetting.auto_reply_templates" :element="'tbody'">
							<tr v-for="(item, index) in replySetting.auto_reply_templates" style="cursor: pointer;" class="item">
								<th class="p-1" scope="row">{{index+1}}.</th>
								<td class="p-1" style="">{{_(item.Condition)}}</td>
								<td class="p-1" style=""></td>
								<td class="p-1 w-100 message-qr" v-b-tooltip.hover :title="item.Message">
									<div class="w-100 row">
										<div class="col-11 text-truncate">
											{{item.Message.length>100?item.Message.substring(0, 100)+"...":item.Message}}
										</div>
										<div class="actions-qr col-1 text-center">
											<i class="fa fa-pencil edit-qr text-light"
											   @click="editTemplate(item, index, 'autoReplyForm', 'addAutoReply')"></i>
											<i class="fa fa-trash-o delete-qr text-light"
											   @click="replySetting.auto_reply_templates.splice(index,1)"></i>
										</div>
									</div>
								</td>
							</tr>
						</draggable>

					</table>
				</div>
			</b-tab>
			<!-- <b-tab @click="tabChanged(['assigningSetting'], 2)" title="Chế độ Xoay vòng (Đang phát triển)">
				<div class="container">
          <div  class="p-2" style="height: 46px;">
            <template v-if="assigningSetting.TypeSplit === 'chosen_fairly_divide'">
              <button class="btn btn-sm btn-default" type="button" v-b-modal.transition>Phân công lại</button>
              <span style="margin-left: 3px;">hội thoại cho nhân viên khác</span>
            </template>
          </div>
          <div class="row">
            <div class="col-md-6">
    					<b-form-radio-group id="radios2" v-model="assigningSetting.TypeSplit" name="radioSubComponent"
    										stacked>
    						<b-form-radio value="turn_off">Tắt chế độ xoay vòng</b-form-radio>
    						<b-form-radio value="online_fairly_divide">Chia đều cho tài khoản online <i
    							class="fa fa-question-circle"
    							style="color: orange; margin-left: 5px; vertical-align: middle;"
    							aria-hidden="true" v-b-tooltip.hover="''"></i>
    						</b-form-radio>
    						<b-form-radio value="chosen_fairly_divide">Chia đều cho tài khoản được chọn <i
    							class="fa fa-question-circle"
    							style="color: orange; margin-left: 5px; vertical-align: middle;"
    							aria-hidden="true" v-b-tooltip.hover="''"></i>
    						</b-form-radio>
    					</b-form-radio-group>
    					<template v-if="assigningSetting.TypeSplit === 'chosen_fairly_divide'">
    						<div class="setting-option pt-2 pb-2">
    							<el-switch v-model="assigningSetting.hard_round_robin_reassign_if_unread_after_x_min">
    							</el-switch>
    							<span style="padding: 0px 5px 0px 10px;">

                      Chia lại hội thoại nếu sau khoảng thời gian chưa có ai đọc
                      <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
    					 aria-hidden="true" v-b-tooltip.hover="''"></i>

                  </span>
    						</div>
    						<div class="setting-option pt-2 pb-2">
    							<el-switch v-model="assigningSetting.hard_round_robin_show_all_convs_if_user_not_in_list">
    							</el-switch>
    							<span style="padding: 0px 5px 0px 10px;">

                      Nhân viên không được chọn sẽ được xem tất cả các cuộc hội thoại
                      <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
    					 aria-hidden="true" v-b-tooltip.hover="''"></i>

                  </span>
    						</div>
    						<div class="setting-option pt-2 pb-2">
    							<el-switch v-model="assigningSetting.hard_round_robin_assign_base_on_online_status"
    									   @change="chosenFairlyDivideChange"
    									   :disabled="!assigningSetting.hard_round_robin_assign_base_on_online_status">
    							</el-switch>
    							<span style="padding: 0px 5px 0px 10px;">

                      Chia theo trạng thái trực tuyến
                      <i class="fa fa-question-circle" style="color: orange; margin-left: 5px; vertical-align: middle;"
    					 aria-hidden="true" v-b-tooltip.hover="''"></i>

                  </span>
    							<div class="pl-4">
    								<div class="setting-option pt-2 pb-2">
    									<el-switch v-model="assigningSetting.hard_round_robin_reassign_if_priority_online"
    											   @change="chosenFairlyDivideChildrenChange('hard_round_robin_reassign_if_priority_online')">
    									</el-switch>
    									<span style="padding: 0px 5px 0px 10px;">

                          Ưu tiên tài khoản đang trực tuyến

                      </span>
    								</div>
    								<div class="setting-option pt-2 pb-2">
    									<el-switch v-model="assigningSetting.hard_round_robin_only_assign_to_online_user"
    											   @change="chosenFairlyDivideChildrenChange('hard_round_robin_only_assign_to_online_user')">
    									</el-switch>
    									<span style="padding: 0px 5px 0px 10px;">

                          Chỉ chia khi có tài khoản trực tuyến

                      </span>
    								</div>
    								<div class="setting-option pt-2 pb-2">
    									<el-switch v-model="assigningSetting.hard_round_robin_assign_to_other_user_online"
    											   @change="chosenFairlyDivideChildrenChange">
    									</el-switch>
    									<span style="padding: 0px 5px 0px 10px;">

                          Phân thêm hội thoại cho tài khoản khác nếu tài khoản được phân công không trực tuyến

                      </span>
    								</div>
    							</div>
    						</div>
    					</template>
            </div>
            <div class="col-md-6"  v-if="assigningSetting.TypeSplit === 'chosen_fairly_divide'">
              <div class="handRoundRobinSelectUsers">
                <div class="w-100">
                  <div class="title text-primary">Tin nhắn</div>
                  <div class="usersList">
                    <div class="handRoundRobinUser" v-for="e in employees" :key="e.id">
                      <div class="LazyLoad is-visible subscription-picture" style="height: 40px; width: 40px;">
                        <img :src="e.avatar" style="vertical-align: super; border-radius: 5px;" width="40" height="40">
                      </div>
                      <span style="margin-left: 3px;">{{e.fullName}}</span>
                      <div style="position: absolute; right: 0px; margin-top: 2px; padding-left: 10px; margin-right: 5px;">
                        <b-btn class="nounderline" variant="link" :id="'exPopover30' + e.id" style="border: none;">
                          <i class="fa fa-dot-circle-o io-right-space" aria-hidden="true"  style="vertical-align: middle; color: rgb(52, 226, 0);" v-if="e.status === 1"></i>
                          <i class="fa fa-circle-o io-right-space text-dark" aria-hidden="true"  style="vertical-align: middle; " v-else-if="e.status === 2"></i>
                          <span class="io-right-space" v-else>Tắt</span>
                        </b-btn>
                      </div>
                      <b-popover :target="'exPopover30' + e.id" triggers="focus" :placement="'rightbottom'" title="Chọn chế độ">
                        <div class="btn-group-vertical p-2 w-100">
                          <button type="button" class="btn btn-outline-primary w-100" :class="e.status === 1 ? 'active' : ''" @click="e.status = 1">Available</button>
                              <button type="button" class="btn btn-outline-primary w-100" :class="e.status === 2 ? 'active' : ''" @click="e.status = 2">Away</button>
                              <button type="button" class="btn btn-outline-primary w-100" :class="e.status === 0 ? 'active' : ''" @click="e.status = 0">Tắt</button>
                        </div>
                      </b-popover>
                    </div>
                  </div>
                </div>
                <div class="w-100">
                  <div class="title text-primary">Bình luận</div>
                  <div class="usersList">
                    <div class="handRoundRobinUser "  v-for="e in employees" :key="e.id">
                      <div class="LazyLoad is-visible subscription-picture" style="height: 40px; width: 40px;">
                        <img :src="e.avatar" style="vertical-align: super; border-radius: 5px;" width="40" height="40">
                        </div>
                        <span style="margin-left: 3px;">{{e.fullName}}</span>
                        <div style="position: absolute; right: 0px; margin-top: 2px; padding-left: 10px; margin-right: 5px;">
                          <b-btn  class="nounderline" variant="link" :id="'exPopover31' + e.id" style="border: none;">
                            <i class="fa fa-dot-circle-o io-right-space" aria-hidden="true"  style="vertical-align: middle; color: rgb(52, 226, 0);" v-if="e.status === 1"></i>
                            <i class="fa fa-circle-o io-right-space text-dark" aria-hidden="true"  style="vertical-align: middle; " v-else-if="e.status === 2"></i>
                            <span class="io-right-space" v-else>Tắt</span>
                          </b-btn>
                        </div>
                        <b-popover :target="'exPopover31' + e.id" triggers="focus" :placement="'rightbottom'" title="Chọn chế độ">
                          <div class="btn-group-vertical p-2 w-100">
                            <button type="button" class="btn btn-outline-primary w-100" :class="e.status === 1 ? 'active' : ''" @click="e.status = 1">Available</button>
                            <button type="button" class="btn btn-outline-primary w-100" :class="e.status === 2 ? 'active' : ''" @click="e.status = 2">Away</button>
                            <button type="button" class="btn btn-outline-primary w-100" :class="e.status === 0 ? 'active' : ''" @click="e.status = 0">Tắt</button>
                          </div>
                        </b-popover>
                      </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <span class="pl-2 pr-2 bg-success text-light rounded" style="display: inline-block; font-size: 11px;">Mẹo</span>
                    <span style="font-size: 12px; color: rgb(136, 136, 136); display: inline-block; margin-left: 3px; font-weight: 400; font-style: italic;">Cột nào không chọn, tất cả nhân viên đều sẽ nhìn thấy được hội thoại loại đó</span>
                  </div>
                  <div class="col-md-12" style="padding: 0px;">
                    <div class="handRoundRobinSelectUsers">
                      <div style="width: 100%;">
                        <div class="title text-primary">Nhân viên đang không có quyền trên trang</div>
                        <div class="usersList"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
				</div>
				<b-modal id="transition" title="Hội thoại cho nhân viên khác" hide-footer size="lg">
					<template class="modal-body">
						<div style="display: flex; justify-content: space-around; align-items: center;">
							<div>
								Từ nhân viên
								<select class="custom-select" id="inputGroupSelect01"
										placeholder="Chọn từ nhân viên cũ">
									<option value="" disabled selected>Chọn từ nhân viên cũ</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
							<i class="fa fa-arrow-right" aria-hidden="true"
							   style="font-size: 25px; vertical-align: middle;"></i>
							<div>
								Sang nhân viên
								<select class="custom-select" id="inputGroupSelect01"
										placeholder="Chọn nhân viên chuyển sang">
									<option value="" disabled selected>Chọn nhân viên chuyển sang</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
						</div>
						<div style="padding: 10px; display: flex; justify-content: center; align-items: center;">
							<button disabled="" class="btn btn-primary" style="width: auto;" type="button">
								Chuyển
								<i class="fa fa-arrow-right" aria-hidden="true" style="vertical-align: middle;"></i>
							</button>
						</div>
						<div>
							Đã chuyển
							<b class="text-primary">0</b>
							hội thoại
						</div>
					</template>
				</b-modal>
			</b-tab> -->
			<template slot="tabs">
				<b-nav-item class="button-tab col">
					<button class="btn btn-success border pl-5 pr-5 float-right" @click="save">Lưu</button>
					<button class="btn btn-primary border pl-5 pr-5 float-right" @click="syncPageDataLocal"><i class="fa fa-refresh" aria-hidden="true"></i> Đồng bộ tin nhắn</button>
					<!-- <button class="btn btn-primary border pl-5 pr-5 float-right" @click="fixDatatab"><i class="fa fa-refresh" aria-hidden="true"></i> Thêm</button> -->
				</b-nav-item>
			</template>
		</b-tabs>

		<b-modal ref="addFastReply" id="addFastReply"
				 :no-close-on-backdrop="true" size="lg">
			<template slot="modal-header">
				<h5 class="modal-title"><i class="fa fa-pencil" aria-hidden="true"></i>Thêm câu trả lời nhanh</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"
						@click="closeModal('addFastReply')">
					<span aria-hidden="true">&times;</span>
				</button>
			</template>
			<div>
				<div class="form-group" style="margin-top: 5px; float: left;">
					<span style="white-space: nowrap;">Ký tự tắt</span>
					<i class="fa fa-exclamation-circle" aria-hidden="true"
					   style="color: orange; margin-right: 2px; margin-left: 2px; vertical-align: middle;"></i>
				</div>
				<div class="input-group mb-3" style="width: 496px; display: inline-flex;">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">/</span>
					</div>
					<input type="text" class="form-control" v-model="replyForm.Shortcut" aria-label="Username"
						   aria-describedby="basic-addon1">
				</div>
				<div>
					<div>
						<b-btn class="plus-img-box" id="openAttchment">
							<i class="fa fa-plus" aria-hidden="true"
							   style="color: rgba(202, 202, 202, 1); margin-top: 20px; margin-left: 24px; vertical-align: middle;"></i>
						</b-btn>
            <div class="plus-img-box  ml-1" v-for="page of filesToUpload" :key="page.id" v-if="filesToUpload && filesToUpload.length > 0">
              <span >
                <div class="LazyLoad is-visible" style="height: 100%; width: 100%">
                  <img :src="page.url"  width="auto" v-b-tooltip.hover.right :title="page.name"  class="img-thumbnail h-100" style="min-width: 100%">
                </div>
              </span>
             </div>
					</div>
				</div>
			</div>
			<div
				style="height: 110px; margin-bottom: 5px; white-space: nowrap; overflow-x: visible; overflow-y: hidden;"></div>
			<div class="modal-body">
				<div class="form-group">
					<textarea class="form-control" v-model="replyForm.Message" id="editMessage"
							  style="height: 140px;" placeholder="Nhập câu trả lời"></textarea>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-4">
						<p>
							<span class="message-recipient" @click="addVariable('#{FULL_NAME}', 'replyForm', 'editMessage')">#{FULL_NAME}</span>
						</p>
						<p>
							<span class="message-recipient" @click="addVariable('#{FIRST_NAME}', 'replyForm', 'editMessage')">#{FIRST_NAME}</span>
						</p>
						<p>
							<span class="message-recipient" @click="addVariable('#{LAST_NAME}', 'replyForm', 'editMessage')">#{LAST_NAME}</span>
						</p>
						<p>
							<span class="message-recipient"
								  @click="addVariable('#{SPIN_1|SPIN_2}', 'replyForm', 'editMessage')">#{SPIN_1|SPIN_2}</span>
						</p>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-8">
						<p>Chèn tên đầy đủ của khách hàng</p>
						<p>Chèn tên của khách hàng</p>
						<p>Chèn họ của khách hàng</p>
						<p>Lựa chọn ngẫu nhiên giữa các từ. Tối đa 5</p>
					</div>
				</div>
			</div>
			<template slot="modal-footer">
				<button type="button" class="btn btn-light border" data-dismiss="modal"
						@click="closeModal('addFastReply')">Bỏ qua
				</button>
				<button type="button" class="btn btn-success" @click="saveTemplate('addFastReply', replyForm,replySetting.templates, 'replyForm')">{{_('Save')}}</button>
			</template>
		</b-modal>
		<b-modal ref="addAutoReply" id="addAutoReply"
				 :no-close-on-backdrop="true" size="lg">
			<template slot="modal-header">
				<h5 class="modal-title"><i class="fa fa-pencil" aria-hidden="true"></i>{{_('AddAutoReply')}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"
						@click="closeModal('addAutoReply')">
					<span aria-hidden="true">&times;</span>
				</button>
			</template>
			<div>
				<div class="form-group" style="margin-top: 5px; float: left;">
					<span style="white-space: nowrap;">{{_('Condition')}}</span>
					<i class="fa fa-exclamation-circle" aria-hidden="true"
					   style="color: orange; margin-right: 2px; margin-left: 2px; vertical-align: middle;"></i>
				</div>
				<div class="input-group mb-3" style="width: 496px; display: inline-flex;">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">/</span>
					</div>
					<!--<input type="text" class="form-control" v-model="autoReplyForm.Condition" aria-label="Username"-->
						   <!--aria-describedby="basic-addon1">-->
					<el-select v-model="autoReplyForm.Condition" >
						<el-option value="hasPhone">{{_('hasPhone')}}</el-option>
						<el-option value="hasNoPhone">{{_('hasNoPhone')}}</el-option>
					</el-select>
				</div>
				<!--<div>
					<div>
						<b-btn class="plus-img-box" id="openAttchment">
							<i class="fa fa-plus" aria-hidden="true"
							   style="color: rgba(202, 202, 202, 1); margin-top: 20px; margin-left: 24px; vertical-align: middle;"></i>
						</b-btn>
						<div class="plus-img-box  ml-1" v-for="page of filesToUpload" :key="page.id" v-if="filesToUpload && filesToUpload.length > 0">
						  <span >
							<div class="LazyLoad is-visible" style="height: 100%; width: 100%">
							  <img :src="page.url"  width="auto" v-b-tooltip.hover.right :title="page.name"  class="img-thumbnail h-100" style="min-width: 100%">
							</div>
						  </span>
						 </div>
					</div>
				</div>-->
			</div>
			<div
				style="height: 110px; margin-bottom: 5px; white-space: nowrap; overflow-x: visible; overflow-y: hidden;"></div>
			<div class="modal-body">
				<div class="form-group">
					<textarea class="form-control" v-model="autoReplyForm.Message" id="editAutoMessage"
							  style="height: 140px;" placeholder="Nhập câu trả lời"></textarea>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-4">
						<p>
							<span class="message-recipient" @click="addVariable('#{FULL_NAME}', 'autoReplyForm', 'editAutoMessage')">#{FULL_NAME}</span>
						</p>
						<p>
							<span class="message-recipient" @click="addVariable('#{FIRST_NAME}', 'autoReplyForm', 'editAutoMessage')">#{FIRST_NAME}</span>
						</p>
						<p>
							<span class="message-recipient" @click="addVariable('#{LAST_NAME}', 'autoReplyForm', 'editAutoMessage')">#{LAST_NAME}</span>
						</p>
						<p>
							<span class="message-recipient"
								  @click="addVariable('#{SPIN_1|SPIN_2}', 'autoReplyForm', 'editAutoMessage')">#{SPIN_1|SPIN_2}</span>
						</p>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-8">
						<p>Chèn tên đầy đủ của khách hàng</p>
						<p>Chèn tên của khách hàng</p>
						<p>Chèn họ của khách hàng</p>
						<p>Lựa chọn ngẫu nhiên giữa các từ. Tối đa 5</p>
					</div>
				</div>
			</div>
			<template slot="modal-footer">
				<button type="button" class="btn btn-light border" data-dismiss="modal"
						@click="closeModal('addAutoReply')">Bỏ qua
				</button>
				<button type="button" class="btn btn-success" @click="saveTemplate('addAutoReply', autoReplyForm, replySetting.auto_reply_templates, 'autoReplyForm')">{{_('Save')}}</button>
			</template>
		</b-modal>
    <b-popover target="openAttchment" triggers="click" placement="rightbottom"  ref="popover" :show.sync="updated_timeShow" :title="_('Attachments')" @hide="addAttchment">
    <!-- <b-modal size="lg" ref="openAttchment" id="openAttchment" centered class="" :ok-only="true" @hide="addAttchment" :title="_('Attachments')" :no-close-on-backdrop="false"> -->
      <div slot="title" class="row w-100" style="height: 38px;">
          <h3 class="mr-auto col">{{_('Attachments')}}</h3>
          <b-btn size="sm" class="float-right p-0 m-0" variant="danger" @click="removeFile" v-if="selectedAttch != ''">
            <span class="btn btn-file text-light">
              {{_('DeleteImage')}}
            </span>
          </b-btn>
      </div>
      <div class="inactivated-list modal-body" style="text-align: center; max-height: 480px; overflow-y: auto;width: 645px;">
       <div style="display: inline-block; border: 2px solid rgb(238, 238, 238); margin: 5px; border-radius: 7px; cursor: pointer;" :class="selectedAttch!='' && selectedAttch.indexOf(page.attachment_id ? page.attachment_id : page.id) != -1 ? 'border-warning' : ''" v-for="page of fileList" :key="page.id" v-if="fileList && fileList.length > 0">
        <span @click="selectFileUpload(page)">
          <div class="LazyLoad is-visible" style="height: 125px; width: 125px;">
            <img :src="page.url" style="border-radius: 5px;" width="auto" v-b-tooltip.hover.right :title="page.name"  class="img-thumbnail h-100">
          </div>
        </span>
       </div>
       <div  v-if="!fileList || fileList.length === 0">
         <h4>{{_('HaveNotFileUploaded')}}</h4>
       </div>
      </div>
      <hr>
      <div class="w-100 pb-3 pl-2 pr-2 clearfix ">


       <el-upload
       class="avatar-uploader float-left"
       action="/api/messages/upload"
       :on-change = "handleFileChange"
       :on-success="handleSuccess"
       :data="{id: selectedPage}"
       :file-list="fileList"
       :show-file-list="false"
       list-type="picture"
       >
         <b-btn size="sm" class="" variant="primary">
          <span class="btn btn-file text-light">
            <i class="fa fa-upload" aria-hidden="true"></i> {{_('ClickToUploadFile')}}
          </span>
        </b-btn>
      </el-upload>
      <b-btn size="lg" class="float-right" variant="success"  @click="closeAttchment">
        <i class="fa fa-check" aria-hidden="true"></i> {{_('Done')}}
      </b-btn>
    </div>
  </b-popover>
  <!-- </b-modal> -->
	</div>
</template>
<script>

	import Vue from "vue";
	import AdminPage from "../../core/DefaultAdminPage.vue";
	import toast from "../../core/toastr";
	import {validators, schema as schemaUtils} from "vue-form-generator";
	import {mapGetters, mapActions} from "vuex";
	import {Switch, ColorPicker} from "element-ui";
	import draggable from 'vuedraggable'
	Vue.use(Switch);
  Vue.use(ColorPicker);

	import {
		camelCase,
		each,
		isObject,
		isArray,
		isFunction,
		isNil,
		isString,
		pick,
		orderBy,
		includes,
		assign,
		cloneDeep,
		filter,
		find,
		findIndex,
		map,
		forIn
	} from "lodash";

	export default {
		components: {
			draggable
		},

		computed: {
			...mapGetters("settings", [
				"settings",
				"selected",
				"hasMore",
				"fetching",
				"sort",
				"viewMode"
			]),
			...mapGetters("profile", [
 			 "profile"
 		 ])
		},
		/**
		 * Set page schema as data property
		 */
		data() {
			return {
				selectSetting: undefined,
				selectedPage: undefined,
				cachePage: {},
        employees: [],
        auto_unhide: false,
        dateMil: [
          {name: '3 giờ', value: 3 },
          {name: '4 giờ', value: 4 },
          {name: '6 giờ', value: 6 },
          {name: '12 giờ', value: 12 },
          {name: '1 ngày', value: 24 },
          {name: '2 ngày', value: 48 },
          {name: '3 ngày', value: 72 },
          {name: '4 ngày', value: 96 },
          {name: '5 ngày', value: 120 },
          {name: '6 ngày', value: 144},
          {name: '7 ngày', value: 168},
          {name: '8 ngày', value: 192},
          {name: '9 ngày', value: 216 },
          {name: '10 ngày', value: 240 },
          {name: '12 ngày', value: 288 },
          {name: '15 ngày', value: 360}
        ],
				tabs: {
					generalSetting: 0,
					tagsSetting: 0,
					replySetting: 1,
					assigningSetting: 2,
				},
				currentTab: 0,
				filesToUpload: [],
				fileList: [],
				attachFiles: [],
				selectedAttch: '',
				updated_timeShow: false,
				generalSetting: {
					notification: false,
					sound: false,
					unread_first: false,
					auto_like: false,
					auto_create_order: false,
					auto_hide_comment: false,
					auto_hide_comment_with_mobile: false,
					auto_unhide_comment: false,
					auto_unhide_comment_time: {name: '1 ngày', value: 24 },
					fix_undisplay_photo: false,
					auto_next_conversation_when_enter_twice: false,
					sync_inbox_with_facebook: false,
					show_cached_avatar: false,
					keep_conv_status_for_3rd_messages: false,
					type: "generalSetting"
				},
				tagsSetting:{
					fb_id: '',
					type: "tagsSetting",
					tags: [],
					full_tag: false,
					multi_tag:false
				},
				replySetting: {

					auto_reply_start_time: null,
					auto_reply_end_time: null,
					active_auto_reply: false,
					templates: [],
					auto_reply_templates: [],
					type: "replySetting",
          full_tag: false,
          multi_tag:false
				},
				assigningSetting: {
					TypeSplit: "turn_off",
					hard_round_robin_reassign_if_unread_after_x_min: false,
					hard_round_robin_show_all_convs_if_user_not_in_list: false,
					hard_round_robin_assign_base_on_online_status: false,
					hard_round_robin_reassign_if_priority_online: false,
					hard_round_robin_only_assign_to_online_user: false,
					hard_round_robin_assign_to_other_user_online: false,
					type: "assigningSetting"
				},
				replyForm: {
					Shortcut: '',
					Message: '',
					Photo:'',
				},
				default_replyForm: {
					Shortcut: '',
					Message: '',
					Photo:'',
				},
				autoReplyForm: {
					Condition: '',
					Message: '',
					Photo:'',
				},

				default_autoReplyForm: {
					Condition: '',
					Message: '',
					Photo:'',
				},

				showForm: false,
				isNewPost: false,
				model: null,
				order: {
					field: "id",
					direction: 1
				},
				currentModels: [],
				isNewModel: false,
			};
		},

		/**
		 * Socket handlers. Every property is an event handler
		 */
		socket: {
			prefix: "/settings/",

			events: {

			}
		},
		methods: {
			...mapActions("profile", ["getProfile"]),
			selectPageSetting () {
				this.loadEmployee({pageIds: [this.selectedPage]}).then(emp=>{
	        this.employees = emp ;
	      }).catch(err=>{
	        console.error(err)
	      })
				this.currentModels.forEach(modelName=>{
					this.getSettings({
						condition: {
							fb_id: this.selectedPage,
							type: modelName,
						}
					}).then(data => {
						if (data && data.length > 0) {
							let keys = Object.keys(this[data[0].type]);
							let objFromSer = pick(data[0], keys);
							this[data[0].type] =assign(this[data[0].type] , objFromSer);
						}
					}).catch(err => {
						toast.error(this._("Error"));
						console.log(err);
					});
				})
			},
			checkMove(evt){
				  console.log(evt)
					return (evt.draggedContext.element.name!=='apple');
			},
      ...mapActions("messages", [
        "getFiles",
        "deleteAttachment"
      ]),
			...mapActions("configurations", [
        "fixData",
      ]),
      ...mapActions("contacts", {loadEmployee: "getEmployee", findAndUpdate: "findAndUpdate"}),
			...mapActions("pages", [
				"resyncPage"
			]),
		syncPageDataLocal(){
			let index = 0
			// this.selectedPages.forEach(page => {
			toast.success('Việc đồng bộ diễn ra dưới nền và có thể tốn một khoảng thời gian nhất định!', 'Bắt đầu đồng bộ');
			this.sync(this.selectedPage, index)
		},
		fixDatatab() {
			this.fixData()
		},
		sync(page, index){
			this.resyncPage({pageId: page, isSynchonize: true, isSynchonizePost:false, isSynchonizeCon:true, isReSync:true, limit: 100}).then(response => {
				if(index <  this.selectedPages.length - 1){
					let i = index + 1
					// this.sync(this.selectedPages[i], i)
				}
			});
		},
		removeTag(index){
			this.tagsSetting.tags.splice(index,1);
		},
		addNewTag(){
			let newTag = {
				backgroundcolor: 'rgb('+Math.floor(Math.random() * 256) +', '+Math.floor(Math.random() * 256) +', '+Math.floor(Math.random() * 256) +')',
				name: this._('Tag')+' '+ (this.tagsSetting.tags.length + 1),
				id: new Date().getTime() + ''
			};
			this.tagsSetting.tags.push(newTag);
		},
      openModal(modalName) {
        this.$refs[modalName].show();
        this.openUpload()
        this.filesToUpload = [];
        this.selectedAttch = '';
      },
			editTemplate(item, index, modelName, modalName){
				this[modelName] = cloneDeep(item);
				this[modelName].Index = index;
				this.openModal(modalName);
			},
			addVariable(str, modelName, id){
				let textarea =document.getElementById(id);
				let selection = {
					start: textarea.selectionStart,
					end: textarea.selectionEnd
				}
				let mess =this[modelName].Message;
				mess = mess.substring(0, selection.start) + str +mess.substring(selection.end, mess.length);
				this.$set(this[modelName], 'Message', mess)
				this.$forceUpdate();
			},
			chosenFairlyDivideChange(value){
				if(value==false){
					this.assigningSetting.hard_round_robin_reassign_if_priority_online = false;
					this.assigningSetting.hard_round_robin_only_assign_to_online_user = false;
					this.assigningSetting.hard_round_robin_assign_to_other_user_online = false;
				}
			},
			chosenFairlyDivideChildrenChange(modelName){
				if(modelName == 'hard_round_robin_reassign_if_priority_online' && this.assigningSetting.hard_round_robin_reassign_if_priority_online == true){
					this.assigningSetting.hard_round_robin_only_assign_to_online_user = false;
				}else if(modelName == 'hard_round_robin_only_assign_to_online_user' && this.assigningSetting.hard_round_robin_only_assign_to_online_user == true){
					this.assigningSetting.hard_round_robin_reassign_if_priority_online = false;
				}


				this.assigningSetting.hard_round_robin_assign_base_on_online_status =
					this.assigningSetting.hard_round_robin_reassign_if_priority_online ||
				this.assigningSetting.hard_round_robin_only_assign_to_online_user||
				this.assigningSetting.hard_round_robin_assign_to_other_user_online
			},
			saveTemplate(modalName, model,list, modelName){
        console.log(modalName, model,list, modelName)
        console.log(this.selectedAttch)
        if(this.selectedAttch) {
          model.Photo = this.selectedAttch;
        }
				// if(this.replyForm.Shortcut ==''){
				// 	toast.error(this._('EmptyShortCut'));
				// }else if(this.replyForm.Message == '') {
				// 	toast.error(this._('EmptyMessage'));
				// }else {
					if(this.filesToUpload && this.filesToUpload.length > 0){
						model.attachments = this.filesToUpload;
					}
					if(model.Index !=undefined){
						let index = model.Index;
						delete model.Index;
						list[index] = assign(list[index], model);
					}else{
						list.push(model);
					}
          console.log(list)
					this.$forceUpdate();
					this.closeModal(modalName, modelName);
				// }
			},
			closeModal(ref, modelName){
				this.$refs[ref].hide();
				this[modelName] = cloneDeep(this['default_'+modelName]);
			},
			tabChanged(modelNames, currentTab) {
				this.currentTab = currentTab;
				this.currentModels = modelNames;
				modelNames.forEach(modelName=>{
					this.getSettings({
						condition: {
							fb_id: this.selectedPage,
							type: modelName,
						}
					}).then(data => {
						if (data && data.length > 0) {
							let keys = Object.keys(this[data[0].type]);
							let objFromSer = pick(data[0], keys);
							this[data[0].type] =assign(this[data[0].type] , objFromSer);
						}
					}).catch(err => {
						toast.error(this._("Error"));
						console.log(err);
					});
				})
			},
			save() {
				this.currentModels.forEach(currentModel=>{
					let setting = this[currentModel];
					setting.fb_id = this.selectedPage;
					this.saveSetting(setting);
				})
			},
			...mapActions("configurations", {
				saveSetting: "saveRow",
				getSettings: "getRows"
			}),

      openUpload(isSubUpload){
        this.openSubUpload = isSubUpload;
         this.getFiles({condition: {fb_page: this.selectedPage}}).then(files=>{
          // console.log("files  ", files)
          this.fileList = files;
        }).catch(err=>{
          console.log(err)
        })
        if(isSubUpload){
          // this.$refs.quickChat.show();
        }else{
              // this.$refs.openAttchment.show();
        }
      },

      handleFileChange(file, fileList){
        // console.log(file)
        file.page_id = this.selectedPage;
        //this.filesToUpload = fileList;
        // console.log(fileList)
      },
       handleSuccess(response, file, fileList){
         this.attachFiles = this.attachFiles.concat(response.data) ;
         file.attachment_id = file.response ? file.response.data[0].attachment_id : file.id
         this.selectedAttch += file.attachment_id + ";"
         this.fileList.push(file);
         this.filesToUpload.push(file);
       },
        handlePreview(file) {
        this.attachFile = assign(file, file.response ? file.response.data[0] : {attachment_id : file.id});
          let image = find(this.filesToUpload, {attachment_id:file.attachment_id});
          if(!image){
            this.filesToUpload.push(this.attachFile);
            // this.$refs.openAttchment.hide();
          }
          this.popupConversation = {};
          // this.$refs.quickChat.hide()

        },
        selectFileUpload(file) {
        this.attachFile = assign(file, file.response ? file.response.data[0] : {attachment_id : file.id});
          if(this.selectedAttch==='' || this.selectedAttch.indexOf(this.attachFile.attachment_id) === -1) {
            this.selectedAttch += this.attachFile.attachment_id + ";"
            this.filesToUpload.push(this.attachFile);
          } else {
            var index = this.selectedAttch.split(';').indexOf(this.attachFile.attachment_id);
            this.filesToUpload.splice(index, 1);
            this.selectedAttch = this.selectedAttch.replaceAll((this.attachFile.attachment_id + ";"), '');

          }
        },
        handleExceed(files, fileList) {
          toast.warning(`The limit is 3, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
        },
        addAttchment() {

        },
        beforeRemove(file) {
          var ctrl = this;
          let id = file.response ? file.response.data[0].attachment_id : file.id;
          this.deleteAttachment({condition:{_id: id, fb_page: this.selectedPage}}).then(done=>{
            var index = findIndex(ctrl.conversation.filesToUpload, {attachment_id : file.id})
            if(index != -1) {
              ctrl.conversation.filesToUpload.splice(index, 1);
            }
            return true;
          }).catch(err=>{
            console.log(err);
            return false
          });
        },

      removeFile() {
        var ctrl = this;
          this.selectedAttch = ''
          this.filesToUpload.forEach(file =>{
            let id = file.response ? file.response.data[0].attachment_id : file.id;
            var fileIndex = findIndex(ctrl.fileList, {attachment_id : file.id ? file.id : file.attachment_id});
            if(fileIndex != -1) {
              ctrl.fileList.splice(fileIndex, 1);
            }
            this.deleteAttachment({condition:{_id: id, fb_page: this.selectedPage}}).then(done=>{
              var index = findIndex(ctrl.conversation.filesToUpload, {attachment_id : file.id ? file.id : file.attachment_id})
              if(index != -1) {
                ctrl.conversation.filesToUpload.splice(index, 1);
              }
              return true;
            }).catch(err=>{
              console.log(err);
              return false
            });
          })
      },

      closeAttchment() {
        this.updated_timeShow = false
      //   if(this.openSubUpload){
      //   this.openSubUpload = false;
      // }else{
      //       this.$refs.openAttchment.hide()
      // }
      },
      openAttchment() {

      },
		},

		/**
		 * Call if the component is created
		 */
		created() {
			var ctrl = this;
			let item = ctrl.$route.params.item.split("&");
			ctrl.selectedPages = item;
			var currPages = localStorage.getItem("pageArr") ? JSON.parse(localStorage.getItem("pageArr")) : [];
			currPages.forEach(page => {
				if(ctrl.selectedPages.indexOf(page.fb_id) != -1
				&& page.fb_id && ctrl.profile.fb_pages_tasks && ctrl.profile.fb_pages_tasks[page.fb_id] && ctrl.profile.fb_pages_tasks[page.fb_id].indexOf('MANAGE') !== -1
			) {
					if(!ctrl.selectedPage) {
						ctrl.selectedPage = page.fb_id
					}
					ctrl.cachePage[page.fb_id] = {
						name: page.name,
						avatar: page.picture && page.picture.data && page.picture.data.url ? page.picture.data.url : ('https://graph.facebook.com/' + page.fb_id + '/picture?width=48&height=48')
					}
				}
			})
			if(ctrl.$route.params.tid){
				ctrl.tabChanged([ctrl.$route.params.tid], ctrl.tabs[ctrl.$route.params.tid]);
			}else{
				ctrl.tabChanged(['generalSetting', 'tagsSetting'], 0);
			}
			ctrl.selectPageSetting()
			ctrl.$hub.$on("synchronizingProcess", (res) => {
				if (['error', 'info'].indexOf(res.type) > -1) {
					toast[res.type](_('Sync'), res.msg);
					// ctrl.isSynchonizing = false;
					return
				} else if (res.type == 'progress') {
					// if (res.data.conversations.successCount + res.data.conversations.failureCount == 200) {
					// 	ctrl.getRows({loadMore: false, fbPages: ctrl.fb_live_pageIds});
					// 	ctrl.isSynchonizing = false;
					// }
					// console.log('progress', res.data)
				} else if (res.type == 'success') {
					// ctrl.loading.success++;
				}
			})
		}
	};
</script>
<style lang="scss" scoped>
	delete-tags-btn {
		font-size: 26px;
		position: absolute;
		right: 0;
		opacity: 0;
		top: 7px;
		background-color: red;
	}
	delete-tags-btn:hover {
		opacity: 1;
	}
	span {
		color: #212529;
	}

	.nav-tabs {
		.nav-item {
			width: 15%;
		}

		.button-tab {
			width: 55%;

			.nav-link {
				padding: 0 !important;
			}
		}
	}

	.chat-menu-bar {
		list-style: none;
		margin-right: 12px;

		li {
			display: inline-block;
			width: 30px;
			text-align: center;
			color: #fff;

			.toggle-ban-customer-btn {
				border-radius: 50% !important;
				padding: 6px;
				margin-right: 14px;
				font-size: 13px;
				width: 32px;
				color: #fff;

			}
		}
	}

	.plus-img-box {
		width: 100px;
		height: 100px;
		border-radius: 5px;
		border: 1px solid #d4dbe0;
		font-size: -webkit-xxx-large;
		float: left;
		cursor: pointer;
	}

	.message-recipient {
		color: #de343b;
		font-weight: 400;
		padding: 2px 8px;
		border: 1px solid rosybrown;
		border-radius: 2px;
		background-color: floralwhite;
		cursor: pointer;
	}

.message-qr {
  &:hover {
    .actions-qr {
      //font-size: 18px;
    }
  }

  .actions-qr {
    .edit-qr {
      &:hover {
        color: #28a745 !important;
      }
    }

    .delete-qr {
      &:hover {
        color: #dc3545 !important;
      }
    }
  }
}

.ant-btn {
  font-family: Montserrat-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  list-style: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  position: relative;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  border-color: #d9d9d9;
}

.ant-btn-circle {
  width: 32px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
  height: 32px;
}
.tag-element {
	position: relative;
  margin-bottom: 10px;

  .ant-input-group-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 90%;

    .ant-input-group {
      font-family: Montserrat-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.5;
      color: rgba(0,0,0,.65);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      list-style: none;
      position: relative;
      display: table;
      border-collapse: separate;
      border-spacing: 0;
      width: 100%;

      .ant-input {
        font-family: Montserrat-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        display: inline-block;
        padding: 4px 11px;
        float: left;
        width: 100%;
        margin-bottom: 0;
        height: 32px;
        font-size: 14px;
        line-height: 1.5;
        color: rgba(0,0,0,.65);
        background-color: #fff;
        background-image: none;
        border: 1px solid #d9d9d9;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        -webkit-transition: all .3s;
        transition: all .3s;
      }

      .ant-input-lg {
        padding: 6px 11px;
        height: 44px;
      }


      .ant-input-group-addon {
        //padding: 0 11px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: rgba(0,0,0,.65);
        text-align: center;
        background-color: #fafafa;
        border: 1px solid #d9d9d9;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        position: relative;
        -webkit-transition: all .3s;
        transition: all .3s;
        //width: 20%;
        width: 40px;
        white-space: nowrap;
        vertical-align: middle;
        display: table-cell;

      }
    }
  }
}

.handRoundRobinSelectUsers {
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 100%;
  height: calc(100% - 20px);
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;

  .title {
    text-align: center;
    border-bottom: 1px solid #dddddd;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
  }
  .usersList {
    height: calc(100% - 30px);
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  .handRoundRobinUser {
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
  }
}

.nounderline {
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important
  }
}
</style>
