<template>
	<div class="container-fluid">
   <div>
      <div>
         <div>
            <div style="min-width: 530px; width: 80%; margin: 20px auto 15px; display: flex; justify-content: space-between; align-items: flex-end; position: relative;">
               <div>
                  <!-- <form style="z-index: 1; display: inline; float: left;">
                     <div class="form-group" style="width: 100%; position: relative; margin: 0px;">
                        <i class="fa fa-search search-icon" aria-hidden="true" style="vertical-align: middle;"></i>
                        <input type="text" placeholder="Tìm kiếm" class="search-post-input form-control">
                     </div>
                  </form> -->
                  <searchBox></searchBox>
               </div>
               <div>
                  <div style="text-align: right;">
                     <div class="checkbox" style="display: inline; width: fit-content; margin: 0px; font-size: 13px;">
                        <label>
                           <input type="checkbox" value="on">Ẩn bình luận
                        </label>
                     </div>
                     <div class="checkbox" style="display: inline; width: fit-content; margin: 0px 8px; font-size: 13px;">
                        <label>
                           <input type="checkbox" value="on">Bỏ qua bình luận
                        </label>
                     </div>
                     <div class="checkbox" style="display: inline; width: fit-content; margin: 0px; font-size: 13px;">
                        <label>
                           <input type="checkbox" value="on">Không ẩn bình luận
                        </label>
                     </div>
                     <div class="checkbox" style="display: inline; width: fit-content; margin: 0px 8px; font-size: 13px;">
                        <label>
                           <input type="checkbox" value="on">Không bỏ qua bình luận
                        </label>
                     </div>
                  </div>
               </div>
            </div>
            <div style="">
               <div style="min-width: 530px; margin: 0px auto 15px; text-align: center;">
                  <div>
                     <div class="post-infinite-scroll" style="height: calc(100vh - 145px); overflow: hidden scroll;">
                        <div style="">
                           <div style="width: 100%; height: 0px;"></div>
                              <div class="post-list-item"  v-for="post of posts">
								  <template v-if="editingPost !== post.fb_id">
									 <div class="post-content" style="background-repeat: no-repeat; background-position: center center; background-size: cover;" :style="'background-image: url(&quot;' + post.full_picture + '&quot;);'">
										<div class="post-message">
										   <div class="to-facebook-post">
											  <a :href="post.permalink_url" target="_blank" >
												 <i class="fa fa-facebook" aria-hidden="true" style="vertical-align: middle; margin: 0px; padding: 0px;"></i>

											  </a>
										   </div>
										   <div v-if="post.message" v-html="post.message.replaceAll('\n', '<br>')">
												<!-- pre -->
												<!-- </pre> -->
										   </div>
										</div>
									 </div>
									 <div class="post-setting">
										<div style="text-align: left;">
										   <div class="checkbox" style="display: inline; width: fit-content; margin: 0px; font-size: 13px;">
											  <!-- <label>
												 <input type="checkbox" value="on">{{_("HideComment")}}
											  </label> -->
										   </div>
										   <div class="checkbox" style="display: inline; width: fit-content; margin: 0px 8px; font-size: 13px;">
											   <label>
												   <i class="fa fa-pencil" aria-hidden="true" style="vertical-align: middle; margin-bottom: 2px;"
												   @click="() => {editingPost = post.fb_id}"
												   ></i>
											  </label>
										   </div>
										</div>
										<div style="text-align: left;">
										   <div style="display: inline-block;"></div>
										   <div style="display: inline-block; float: right; color: rgb(102, 102, 102);">
											  <i class="fa fa-comments" aria-hidden="true" style="vertical-align: middle; margin-bottom: 2px;"></i>
											  {{post.count_comment ? post.count_comment : '0'}}
											   <i class="fa fa-phone" aria-hidden="true" style="vertical-align: middle; margin-left: 10px; margin-bottom: 3px;"></i>
											   {{post.count_phone ? post.count_phone : '0'}}
										   </div>
										</div>
									 </div>
								  </template>
								  <template v-else>
									  <el-input type="textarea" :rows="4" v-model="post.message"></el-input>
									  <el-button @click="saveEditedPost(post)">Lưu</el-button>
								  </template>
                              </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</template>
<script>
	import Vue from "vue";
	import marked from "marked";
	import toast from "../../core/toastr";
	import { validators, schema as schemaUtils } from "vue-form-generator";
	import moment from "moment";
	import { mapGetters, mapActions } from "vuex";
	import {camelCase ,each, isObject, isArray, isFunction, isNil,  isString, defaults, orderBy, includes, get, cloneDeep} from "lodash";
	//const PAGEID = '2004874763077886'
	function searchInObject(obj, text) {
		text = text.toLowerCase();
		let values = Object.values(obj);
		let res = values.filter(val => {
			if (isObject(val)) {
				return searchInObject(val, text);
			} else if (isArray(val)) {
				return val.filter(item => searchInObject(item, text));
			} else if (isString(val)) {
				return val.toLowerCase().indexOf(text) != -1;
			}
		});
		return res.length > 0;
	}
	import searchBox from "../../core/components/header/search-box";
	export default {
		components: {
			searchBox
		},
		computed: {
			ptoken(){
				return this.page? this.page.access_token : undefined;
			},
			...mapGetters("posts", [
				// "posts",
				"hasMore",
				"fetching",
				"sort",
				"viewMode",
				"paging",
				"commentText",
				"CommentAble",
				"ReplyAble",
				"EditAble",
				"updateText"
			]),
			...mapGetters("session", [
				"me"
			]),
			...mapGetters("session", {
				search: "searchText"
			}),
			...mapGetters("profile", ["profile"]),
			filteredOrderedRows() {
				let items = this.posts;
				console.log("item", items)
				if (this.search) {
					let search = this.search.toLowerCase();
					items = this.posts.filter(function (row) {
						return searchInObject(row, search);
					});
				}
				//orderBy(items, this.order.field, this.order.direction == 1 ? "asc" : "desc");
				return items;
			},
			pageName(){
				return this.page ? this.page.name : "";
			},
			canChat() {
				//this.getProfile();
				console.log("check if user can make a post ", this.profile)
				return (this.pageId && this.profile && this.profile.profile && this.profile.profile.fbPages && this.profile.profile.fbPages.indexOf(this.pageId) > -1);
			},
		},

		/**
		 * Set page schema as data property
		 */
		data() {
			return {
				posts: [],
				showForm: false,
				isNewPost: false,
				model: null,
				editingPost: '',
				page: undefined,
				// CommentAble: {},
				// ReplyAble: {},
				// commentText: {},
				schema: {
					fields: [
						// {
						// 	type: "text",
						// 	label: this._("Title"),
						// 	model: "title",
						// 	featured: true,
						// 	required: true,
						// 	placeholder: this._("TitleOfPost"),
						// 	validator: validators.string
						// },
						{
							type: "textArea",
							label: this._("Content"),
							model: "content",
							featured: true,
							required: true,
							rows: 10,
							placeholder: this._("ContentOfPost"),
							validator: validators.string
						},
						{
							type: "text",
							label: this._("Picture"),
							model: "detail",
							featured: true,
							required: false,
							placeholder: this._("PicLink"),
							validator: validators.string
						},
					]
				}
			};
		},

		/**
		 * Socket handlers. Every property is an event handler
		 */
		/*socket: {

			prefix: "/posts/",

			events: {
				/!**
				 * New device added
				 * @param  {Object} res Device object
				 *!/
				/!*
				We don't use it because we don't know we need to add it to the page (filter, sort..etc)
				created(res) {
					this.created(res.data);
					toast.success(this._("PostNameAdded", res), this._("PostAdded"));
				},*!/

				/!**
				 * Post updated
				 * @param  {Object} res Post object
				 *!/
				updated(res) {
					this.updated(res.data);
					toast.success(this._("PostNameUpdated", res), this._("PostUpdated"));
				},

				voted(res) {
					this.updated(res.data);
					toast.success(this._("PostNameVoted", res), this._("PostUpdated"));
				},

				unvoted(res) {
					this.updated(res.data);
					toast.success(this._("PostNameUnvoted", res), this._("PostUpdated"));
				},

				/!**
				 * Post removed
				 * @param  {Object} res Post object
				 *!/
				removed(res) {
					this.removed(res.data);
					toast.success(this._("PostNameDeleted", res), this._("PostDeleted"));
				}
			}
		},*/

		methods: {
			saveEditedPost(post){
				this.updatePost({
						fbModel: [post.fb_id,"POST", {message: post.message}],
						pageId: post.fb_page,
						code: post.code
					}).then(data => {
						this.editingPost = '';
				})
			},
			...mapActions("posts", {
				"getPosts" : "getRows",
				"updatePost" : "updateRow"
				}
			),
			...mapActions("profile", ["getProfile"]),

			replaceTag(text, tags){
				var returnText = ""
				var index = 0;
				var lastChar = 0;
				tags.forEach(tag =>{
					if(index === 0) {
						returnText = this.urlify(text.slice(0, tag.offset)) + text.slice(tag.offset, tag.offset + tag.length).replace(tag.name, '<a href="https://www.facebook.com/' + tag.id + '" target="_blank">' + tag.name + '</a>')
					} else if(index < tags.length - 1) {
						returnText += this.urlify(text.slice(lastChar, tag.offset)) + text.slice(tag.offset, tag.offset + tag.length).replace(tag.name, '<a href="https://www.facebook.com/' + tag.id + '" target="_blank">' + tag.name + '</a>')
					} else {
						returnText += this.urlify(text.slice(lastChar, tag.offset)) + text.slice(tag.offset, tag.offset + tag.length).replace(tag.name, '<a href="https://www.facebook.com/' + tag.id + '" target="_blank">' + tag.name + '</a>') + this.urlify(text.slice(tag.offset + tag.length));
					}
					lastChar = tag.offset + tag.length;
					index ++
				})
				return returnText;
			},

			urlify(text) {
			    var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/g;
			    return text.replace(urlRegex, function(url) {
			    	if(url.toLowerCase().indexOf("http") === -1){
			    		return '<a href="http://' + url + '" target="_blank">' + url + '</a>';
			    	} else {
			    		return '<a href="' + url + '" target="_blank">' + url + '</a>';
			    	}
			    })
			},

			confirmDelete(item, parent, postId) {

				var showConfirm = confirm("Are you sure you want to delete?");
    			if (showConfirm == true) {
    				this.deleteComment({model: item, token:this.ptoken, parent:parent, postId:postId});
    			}
			},
			openComment(post){
				// if(this.CommentAble[post.id]){
				// 	this.$set(this.CommentAble, post.id, false)
				// 	delete this.commentText[post.id]
				// } else {
					this.$set(this.CommentAble, post.id, true)
				// }
			},
			openReply(comment) {
				// if(this.ReplyAble[comment.id]){
				// 	this.$set(this.ReplyAble, comment.id, false)
				// 	delete this.commentText[comment.id]
				// } else {
					this.$set(this.ReplyAble, comment.id, true)
				// }
			},

			openEdit(comment) {
				this.$set(this.EditAble, comment.id, true);
				this.$set(this.updateText, comment.id, comment.message);
			},

			EditSend(item, parent, postId) {
				if(this.updateText[item.id]){
					item.message = this.updateText[item.id];
					this.editComment({model: {content: this.updateText[item.id]}, token:this.ptoken, item: item, parent:parent, postId:postId});
				} else {

				}
			},

			commentSend(item) {
				if(this.commentText[item.id]){
					this.saveComment({model: {content: this.commentText[item.id]}, token:this.ptoken, item: item});
				} else {

				}
			},

			formatter(value) {
            	return moment(value).fromNow();
          	},
			markdown(content) {
				return marked(content);
			},

			iVoted(post) {
				return _.find(post.voters, (user) => user.code == this.me.code) != null;
			},

			toggleVote(post) {
				if (this.iVoted(post))
					this.unVote(post);
				else
					this.vote(post);
			},

			lastVoters(post, count = 5) {
				if (post.reactions && post.reactions.data.length > 0) {
					let voters = _.clone(post.reactions.data).reverse().slice(0, 5);
					return voters;
				}
				return [];
			},

			createdAgo(post) {
				return this._("CreatedAgoByName", { ago: Vue.filter("ago")(post.created_time), name: (post.from ? post.from.name : undefined) } );
			},

			editedAgo(post) {
				if (post.editedAt)
					return this._("EditedAgo", { ago: Vue.filter("ago")(post.editedAt) } );
			},

			newPost() {
				this.model = schemaUtils.createDefaultObject(this.schema);
				this.showForm = true;
				this.isNewPost = true;

				this.focusFirstInput();
			},

			editPost(post) {
				this.model = cloneDeep(post);
				this.showForm = true;
				this.isNewPost = false;
				this.focusFirstInput();
			},

			focusFirstInput() {
				this.$nextTick(() => {
					let el = document.querySelector(".postForm .form-control:nth-child(1):not([readonly]):not(:disabled)");
					if (el)
						el.focus();
				});
			},

			focusFirstErrorInput() {
				this.$nextTick(() => {
					let el = document.querySelector(".postForm .form-group.error .form-control");
					if (el)
						el.focus();
				});
			},

			savePost() {
				if (this.$refs.form.validate()) {
					if (this.isNewPost)
						this.saveRow({model: this.model, token:this.ptoken});
					else
						this.updateRow({model: this.model, token:this.ptoken});

					this.cancelPost();
				} else {
					this.focusFirstErrorInput();
				}
			},

			cancelPost() {
				this.showForm = false;
				this.model = null;
			},

			deletePost(post) {
				this.removeRow(post);
			},
			downloadImage(post) {

			},
			loadPost(more){
				let conditions = "posts.limit(25){message,full_picture,comment_count,comments{message_tags,attachment,parent,message,comments{message_tags,attachment,parent,message,comment_count,from,created_time},comment_count,from,created_time},created_time,from,permalink_url,shares, reactions{type,id,link,name,pic,profile_type,username,picture}, attachments,reactions.type(NONE).limit(0).summary(total_count).as(reactions_NONE),reactions.type(LIKE).limit(0).summary(total_count).as(reactions_LIKE),reactions.type(LOVE).limit(0).summary(total_count).as(reactions_LOVE),reactions.type(WOW).limit(0).summary(total_count).as(reactions_WOW),reactions.type(HAHA).limit(0).summary(total_count).as(reactions_HAHA),reactions.type(SAD).limit(0).summary(total_count).as(reactions_SAD),reactions.type(ANGRY).limit(0).summary(total_count).as(reactions_ANGRY),reactions.type(THANKFUL).limit(0).summary(total_count).as(reactions_THANKFUL)}";
				if(more && this.paging.cursors && this.paging.cursors.after) conditions = "posts.limit(25).after("+this.paging.cursors.after+"){message,full_picture,comment_count,comments{message_tags,attachment,parent,message,comments{message_tags,attachment,parent,message,comment_count,from,created_time},comment_count,from,created_time},created_time,from,permalink_url,shares, reactions{type,id,link,name,pic,profile_type,username,picture}, attachments,reactions.type(NONE).limit(0).summary(total_count).as(reactions_NONE),reactions.type(LIKE).limit(0).summary(total_count).as(reactions_LIKE),reactions.type(LOVE).limit(0).summary(total_count).as(reactions_LOVE),reactions.type(WOW).limit(0).summary(total_count).as(reactions_WOW),reactions.type(HAHA).limit(0).summary(total_count).as(reactions_HAHA),reactions.type(SAD).limit(0).summary(total_count).as(reactions_SAD),reactions.type(ANGRY).limit(0).summary(total_count).as(reactions_ANGRY),reactions.type(THANKFUL).limit(0).summary(total_count).as(reactions_THANKFUL)}"

				let model = [
				"/" + this.pageId ,
				"GET",
				{
					access_token: this.ptoken,
					fields: conditions
				}
				]
				if(this.hasMore)
				this.getPosts({fbModel:model, loadMore:more, pageId: this.pageId, conversationId: undefined, isSynchonize :true, isRenewToken:false})

			}

		},

		/**
		 * Call if the component is created
		 */
		created() {
			// this.clear();
			// this.getProfile();
			// this.pageId = this.$route.params.item;
			let item = this.$route.params.item.split("&");
			this.selectedPage = {
				id: item[0],
				name: item[1]
			};
			this.getPosts({
				loadMore: false,
				condition: {
					fb_page: this.selectedPage.id,
					verb: { '$ne': 'remove' }
				}
			}).then(res=>{
				this.posts = res;
			});
            // if (this.pageId) {
				// debugger
				// this.getPageById({pageId: this.pageId}).then(data=>{
				// 	console.log("page search data", data);
				// 	this.page = data[this.pageId];
				// 	console.log(this.page);
				// 	this.loadPost();
				// }).catch(err=>{
				// 	console.log(err);
				// })
            //
            //
    		// }
		},
		mounted() {
			this.$hub.$on("updated", (res) => {
				this.updated(res);
				toast.success(this._("PostNameUpdated", res), this._("PostUpdated"));
			}),

			this.$hub.$on("voted", (res) => {
				this.updated(res);
				toast.success(this._("PostNameVoted", res), this._("PostUpdated"));
			}),

			this.$hub.$on("unvoted", (res) => {
				this.updated(res);
				toast.success(this._("PostNameUnvoted", res), this._("PostUpdated"));
			}),

			this.$hub.$on("removed", (res) => {
				this.removed(res);
				toast.success(this._("PostNameDeleted", res), this._("PostDeleted"));
			})
		},
		destroyed() {
		    this.$hub.$off("updated");
		    this.$hub.$off("voted");
		    this.$hub.$off("unvoted");
		    this.$hub.$off("removed");
		}

	};
</script>

<style lang="scss" scoped>



.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-list-item {
	float: left;
    display: inline-block;
    height: 220px;
    min-width: 260px;
    width: calc(50% - 20px);
    margin: 10px;
    border-radius: 2px;
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.098), 0 1px 5px 0 rgba(0,0,0,0.084);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.098), 0 1px 5px 0 rgba(0,0,0,0.084);

    .post-content {
	    height: 165px;
	    border-bottom: 1px solid #ddd;
	    position: relative;

	    .post-message {
		    //position: relative;
		    height: 100%;
		    overflow-y: auto;
		    padding: 5px 10px;
		    -webkit-transition: opacity .3s ease,background-color .3s ease;
		    -webkit-transition: opacity .3s ease,background-color .3s ease;
		    transition: opacity .3s ease,background-color .3s ease;
		    background-color: transparent;
		    opacity: 0;

		    .to-facebook-post {
			    position: absolute;
			    border-radius: 3px;
			    right: 7px;
			    font-size: 22px;
			    color: #3b5998;
			}
		}

		&:hover {
			.post-message {
			    opacity: 1;
			    background-color: #fff;
			}
		}
	}

	.post-setting {
	    padding: 5px 10px;

	}
}


</style>
