extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	if features.enableNormalLogin
		.page
			h1=t("welcomeTo", {app})

			.logos
				h3=t("PoweredBy")
				//img(src="https://vuejs.org/images/logo.png")
				span.plus +
				//img(src="https://coligo.io/images/express.svg")
				span.plus +
				//img(src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/527px-MongoDB-Logo.svg.png")
				span.plus +
				//img(src="https://worldvectorlogo.com/logos/nodejs-icon.svg")
				h4=t("with")
				//img(src="https://camo.githubusercontent.com/66747a6e05a799aec9c6e04a3e721ca567748e8b/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f313336353838312f313931383337332f32653035373166612d376462632d313165332d383436352d3839356632393164343366652e706e67")

			.buttons
				a.button(href="/login")=t("Login")
				if features.disableSignUp !== true
					a.button(href="/signup")=t("Signup")
	else
		script.
			window.location.href = "/login";

	include parts/footer

block scripts
	script(src='/app/vendor.js')
	script(src='/app/frontend.js')

