/* Coolors Exported Palette - coolors.co/00171f-007ea7-00a8e8-ffffff-ef7f0a */
/* Complementer color - http://colorschemedesigner.com/csd-3.5/#3o21Ttqx7w0w0 */

$color1: #00171f; //rgba(0, 23, 31, 255)
$color2: #104357; //rgba(16, 67, 87, 255)
$color3: #00a8e8; //rgba(0, 168, 232, 255)
$color4: #ffffff; //rgba(255, 255, 255, 255)
$color5: #df691a; //rgba(239, 127, 10, 255)

$images-root: "~images/";

$glassTheme: true;
$colorAlt: 5%;

$color1-light: lighten($color1, $colorAlt);
$color1-dark: darken($color1, $colorAlt);
$color2-light: lighten($color2, $colorAlt);
$color2-dark: darken($color2, $colorAlt);
$color3-light: lighten($color3, $colorAlt);
$color3-dark: darken($color3, $colorAlt);
$color4-light: lighten($color4, $colorAlt);
$color4-dark: darken($color4, $colorAlt);
$color5-light: lighten($color5, $colorAlt);
$color5-dark: darken($color5, $colorAlt);

/* Assign colors from palette */
$masterColor: $color2;
$secondColor: $color3;
//$secondColor: $color5;

$backgroundImage: none;
$backgroundColor: $color4-light;

@if $glassTheme {
	//$backgroundImage: url('https://raw.githubusercontent.com/akveo/blur-admin/master/src/assets/img/blur-bg.jpg');
	$backgroundImage: url('http://akveo.com/blur-admin/assets/img/blur-bg.jpg');
	//$backgroundImage: url($images-root + 'bg/blue-paper2.jpg');
}

//$overlayColor: lighten(desaturate($color3, 30%), 10%);
$overlayColor: $color2;

$textColor: $color4;
$altTextColor: $color1;
$titleTextColor: $secondColor;

$buttonColor: $color2-light;
$buttonPrimaryColor: $secondColor;
$buttonTextColor: $textColor;

$successColor: #20983b;
$warningColor: #b38118;
$dangerColor: #ab1b1b;

$minWidth: 320px;

/* Load fonts */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Dosis:300,400,600,700,800|Droid+Sans:400,700|Lato:300,400,700,900|Titillium+Web:300,400,600,700|PT+Sans:400,700|Ubuntu:300,400,500,700|Open+Sans:400,300,600,700|Roboto:100,300,400,500,700,900|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Work+Sans:400,300,700|Play:400,700|Maven+Pro:400,500,700,900&subset=latin,latin-ext);
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css);

/* Set font family styles */
$fontFamily: /*'Titillium Web',*/ 'Ubuntu', 'Roboto', 'Helvetica', 'Arial', sans-serif;
$fontFamilyHeader:  'Helvetica', 'Arial', sans-serif;

$fontThin: 100;
$fontLight: 300;
$fontNormal: 400;
$fontBold: 600;
$fontUltraBold: 700;

$baseFont: 16px/18px $fontFamily;
//$baseFont: 30px/34px $fontFamily;

$headerHeight: 70px;
$headerBgColor: $color1;
$headerTextColor: $textColor;


$menuWidth: 180px;
$menuMiniWidth: 50px;
$menuBgColor: $color1;
$menuTextColor: $textColor;

$avatarRadius: 15%;
$defaultRadius: 5px;
