<template>
    <div class="inbox_msg">
      <div class="card text-right">
        <button class="btn" @click="closeCallback(isShow)">Quay lại</button>
      </div>
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar"  placeholder="Search" >
              <span class="input-group-addon">
              <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span> </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list" v-for="contact in contacts" :class="(contact.avatar == CustomerAvatar ? 'active_chat' : '') + (contact.unread > 0 ? '' : '')">
            <div class="chat_people" @click="getChat(contact)">
              <div class="chat_img"> <img :src="contact.avatar" :alt="contact.name"> </div>
              <div class="chat_ib">
                <h5>{{contact.name}} <span class="chat_date">{{$Utils.formatDateTime(contact.lastMessage.time, 'DD/MM/YYYY HH:mm')}}</span></h5>
                <p>
                  <strong>
                    <span v-if="contact.lastMessage.who == 'user'">You: </span>
                    <!-- <span v-else>{{contact.name}}: </span> -->
                  </strong>
                  {{contact.lastMessage.message}}
                  <!-- <span class="badge badge-pill badge-danger" v-if="contact.unread > 0">{{contact.unread}}</span> -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div ref="msg_history" class="msg_history" v-if="chat && chat.length > 0">
          <div class="w-100 text-center">
            <button class="btn" v-if="showOldData" @click="getOldChat()">Cũ hơn</button>
          </div>
          <template v-for="ms in chat">
            <div class="incoming_msg" v-if="ms.who == 'contact'">
              <div class="incoming_msg_img"> <img :src="CustomerAvatar" :alt="CustomerName"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{ms.message}}</p>
                  <span class="time_date">{{$Utils.formatDateTime(ms.time, 'DD/MM/YYYY HH:mm')}}</span></div>
              </div>
            </div>
            <div class="outgoing_msg"  v-if="ms.who == 'user'">
              <div class="sent_msg">
                <p>{{ms.message}}</p>
                <span class="time_date">{{$Utils.formatDateTime(ms.time, 'DD/MM/YYYY HH:mm')}}</span> </div>
            </div>
          </template>
        </div>
        <div v-else>
           <h1>Xin chọn 1 hội thoại từ danh sách bên trái</h1>
        </div>
        <div class="type_msg"  v-if="chat && chat.length > 0">

          <div class="input_msg_write">
            <!-- <input type="text" class="write_msg" placeholder="Type a message" v-model="replyMessage"/> -->
            <textarea class="write_msg" v-model="replyMessage"
                    placeholder="Type and hit enter to send message"
                    >
                  </textarea>
            <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true" @click="reply()"></i></button>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</template>
<script>
  import Vue from "vue";
  import Service from "../../core/service";


  let service = window.facebookService;
  export default {
  	props: ["data", "isShow", "closeCallback"],
  	data() {
  		return {
  			posts: [],
	  	current_fb_user: "",
  			leftSidenavView: "contacts",
  			contacts: [],
  			user: {},
  			chatSearch: undefined,
  			chat: [],
  			chatContactId: [],
  			showOldData: false,
  			CustomerAvatar: undefined,
  			CustomerName: undefined,
  			replyMessage: ""
  		};
  	},
  	created() {
  		let ctrl = this;
  		ctrl.getData();
  	},
  	methods: {
  		getData() {
  			let ctrl = this;
  			if(ctrl.data && ctrl.data.id) {
  				service.rest("/graph", [    "/" + ctrl.data.id,
  					"GET",
              {"fields":"access_token"},]).then((response) => {
  	if(response.access_token) {
  		ctrl.pageID = ctrl.data.id;
  		ctrl.PageName = ctrl.data.name;
  		ctrl.UserAvatar = ctrl.data.picture.data.url;
  		ctrl.access_token = response.access_token;
                // if(!ctrl.InterVal) {
  		ctrl.getInboxData();
                  // ctrl.InterVal = setInterval(() =>{ ctrl.getInboxData(); }, 3000);
                // }
  	}
  }).catch((err) => {
  	console.log(err);
  });
  			}
  		},




  		getInboxData() {
  			let ctrl = this;
  			ctrl.UserData = {id: ctrl.pageID, name: ctrl.PageName, avatar: ctrl.UserAvatar, status: "online", mood: ""};
  			ctrl.nextData = {};
        // if(!ctrl.$Utils.isEmpty(ctrl.chatContactId)){
        // }
  			ctrl.chats = {};
  			ctrl.user = ctrl.UserData;
        // ctrl.$Utils.showLoading('start');

  			service.rest("/graph", [ "/" + ctrl.pageID,
  				"GET",
          {access_token: ctrl.access_token,"fields":"conversations{unread_count,messages.limit(10){from,message,created_time,to}}"}]).then((response) => {
  	ctrl.pageConversations = ctrl.PostList = ctrl.$Lodash.cloneDeep(response.conversations.data);
  	ctrl.chatHistory = [];
  	ctrl.pageConversations.forEach((value) =>{
  		let content = {
  			id :value.id,
  			data: []
  		};
  		if(ctrl.$Utils.isEmpty(value.messages, "paging.next")){
  			ctrl.nextData[value.id] =  value.messages.paging.next.substring(32, value.messages.paging.next.length);
  		}
  		value.messages.data.forEach((msg) =>{
  			content.data.unshift({
  				who: msg.from.id ==  ctrl.UserData.id ? "user" : "contact",
  				message: msg.message,
  				time: msg.created_time
  			});
  			let contact = {
                //avatar : getChater(msg.from.id),
  				id : value.id,
  				fbId: ctrl.pageID != msg.from.id ? msg.from.id : msg.to.data[0].id,
  				lastMessage: {
  					who:  msg.from.id ==  ctrl.UserData.id ? "user" : "contact",
  					message: msg.message,
  					time: msg.created_time
  				},
  				mood : "",
  				name : ctrl.pageID != msg.from.id ? msg.from.name : msg.to.data[0].name,
  				status : "online",
  				unread : value.unread_count
  			};
  			if(ctrl.pageID != contact.fbId  ){
  				if (!ctrl.getByFbId(ctrl.contacts, contact.fbId)) {
  					if(!contact.avatar){contact.avatar = ctrl.getChater(ctrl.pageID != msg.from.id ? msg.from.id : msg.to.data[0].id);}
					ctrl.contacts.push(contact);
  				}
  			}
  		});
  		if(ctrl.chatHistory.id != content.id) {
  			ctrl.chatHistory.push(content);
  		}
  	});

  	if(ctrl.$Utils.isEmpty(ctrl.chatContactId)){
  		ctrl.chatHistory.forEach((value) => {
  			if(value.id == ctrl.chatContactId && value.data[value.data.length - 1].time != ctrl.chat[ctrl.chat.length - 1].time){
  				ctrl.getChat();
  			}
  		});
  	}
  }).catch((err) => {
  	console.log(err);
  });

  		},


  		getSenders(){
  			let ctrl = this;
  			ctrl.UserData = {id: ctrl.pageID, name: ctrl.PageName, avatar: ctrl.UserAvatar, status: "online", mood: "it's a status....not your diary..."};
  			ctrl.nextData = {};
  			ctrl.chats = {};
  			ctrl.user = ctrl.UserData;
          //?fields=conversations{senders}
  			$facebook.api("/"+ctrl.pageID+"?fields=conversations.limit(1000){participants,message_count,unread_count,snippet,updated_time}", "get").then(
            function(response) {

  	angular.forEach(response.conversations.data , function(conversation, k){

  		angular.forEach(conversation.participants , function(sender, k){
                 //console.log(sender)
  			angular.forEach(sender , function(data, k){
                   //console.log(data.id)
  				if(ctrl.pageID != data.id  ){
  					let contact = {
  						id : conversation.id,
  						fbId: data.id,
  						lastMessage: {
  							who: "contact",
  							message: conversation.snippet,
  							time: conversation.updated_time
  						},
  						mood : "",
  						name : data.name,
  						status : "online",
  						unread : conversation.unread_count,
  						email: data.email
  					};
  					if (!ctrl.getByFbId(ctrl.contacts, contact.fbId)) {
  						contact.avatar = getChater(data.id),
                      ctrl.contacts.push(contact);
  					}
  				}

  			});
  		});
  	});
  },
            function(err) {
  	console.error(err);
  }

            );
  		},
  		getChatMsgs(conversationID){
  			let ctrl = this;
  			if(conversationID != ctrl.chatContactId) {ctrl.chat = [];}
  			ctrl.showOldData = false;
  			ctrl.chatContactId = conversationID;
                //ctrl.chat ; //= ctrl.chatHistory.getById(ctrl.chatContactId).data;

  			$facebook.api("/"+conversationID+"/?fields=messages.limit(10){from,message,created_time,to}", "get").then(
            function(response) {
  	let content = {
  		id :conversationID,
  		data: []
  	};
  	angular.forEach(response.messages.data , function(msg, k){
  		content.data.unshift({
  			who: msg.from.id ==  ctrl.UserData.id ? "user" : "contact",
  			message: msg.message,
  			time: msg.created_time
  		});
  	});
  	if(ctrl.chat.length == 0){
  		ctrl.chat = content.data;
  		scrollToBottomOfChat();
  	} else {
  		if(ctrl.chat.last.time != content.data.last.time){
  			ctrl.chat.unshift(content.data.last);
  			scrollToBottomOfChat();
  		}
  	}

  },
            function(err) {
  	console.error(err);
  }
            );

  			if(ctrl.$Utils.isEmpty(ctrl.nextData[ctrl.chatContactId])){
  				ctrl.showOldData = true;
  			}


  		},
  		getChater(id){
  			let ctrl = this;
  			service.rest("/graph", ["/" + id,
  				"GET",
          {access_token: ctrl.access_token,"fields":"picture"}]).then((response) => {
  	ctrl.getByFbId(ctrl.contacts, id).avatar = response.picture.data.url;
  }).catch((err) => {
  	console.log(err);
  });
  		},

  		getChat(conversation){
  			let ctrl = this;
  			ctrl.conversationID = "";
  			ctrl.showOldData = false;
  			ctrl.chatContactId = conversation && conversation.id ? conversation.id : ctrl.chatContactId;
  			ctrl.current_fb_user = conversation.fbId;
  			if(conversation) {
  				ctrl.CustomerAvatar = ctrl.$Lodash.cloneDeep(conversation.avatar);
  				ctrl.CustomerName = ctrl.$Lodash.cloneDeep(conversation.name);
  			}
  			ctrl.chat = ctrl.getById(ctrl.chatHistory, ctrl.chatContactId).data;
  			if(ctrl.$Utils.isEmpty(ctrl.nextData[ctrl.chatContactId])){
  				ctrl.showOldData = true;
  				ctrl.conversationID = conversation.id;
  			}

          // Reset the reply textarea
  			if(conversation && conversation.id)
  				ctrl.resetReplyTextarea();
          // Scroll to the last message
  			ctrl.scrollToBottomOfChat();
          // Reset Left Sidenav View


  		},

  		getOldChat(){
  			let ctrl = this;
  			if(!ctrl.$Utils.isEmpty(ctrl.currentNext)){
  				ctrl.currentNext = ctrl.nextData[ctrl.conversationID];
  			}
  			let vars = {};
  			let parts = ctrl.currentNext.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
  				if(key != "access_token")
  					vars[key] = decodeURIComponent(value);
  			});
  			vars.access_token = ctrl.access_token;
  			service.rest("/graph", ["/" + ctrl.conversationID + "/messages",
  				"GET", vars]).then((response) => {
  					if(ctrl.$Utils.isEmpty(response, "paging.next")){
  						ctrl.currentNext =  ctrl.$Lodash.cloneDeep(response.paging.next.substring(32, response.paging.next.length));
  					} else {
  						ctrl.showOldData = false;
  						ctrl.nextData[ctrl.conversationID] =  undefined;
  					}
  					response.data.forEach((msg) =>{
  						ctrl.chat.unshift({
  							who: msg.from.id ==  ctrl.UserData.id ? "user" : "contact",
  							message: msg.message,
  							time: msg.created_time
  						});
  					});
  				}).catch((err) => {
  					console.log(err);
  				});
  		},
        /**
         * Reply
         */
  		reply(){
  			let ctrl = this;

          // Message
  			let message = {
  				who    : "user",
  				message: ctrl.replyMessage,
  				time   : new Date().toISOString()
  			};
  			let showLoading = ctrl.$Utils.showLoading("start");

  			service.rest("/graph", ["/" + ctrl.chatContactId +"/messages",
  				"POST",
          {access_token: ctrl.access_token, message: ctrl.replyMessage}]).then((response) => {
  	ctrl.$Utils.showLoading("stop", showLoading);
  	if (response && !response.error) {
  		ctrl.chat.push(message);

              // Update Contact's lastMessage
  		ctrl.$set(ctrl.getById(ctrl.contacts, ctrl.chatContactId), "lastMessage", message);

              // Reset the reply textarea
  		ctrl.resetReplyTextarea();

              // Scroll to the new message
  		ctrl.scrollToBottomOfChat();
  	}
  }).catch((err) => {
  	console.log(err);
  });



  		},

        /**
         * Clear Chat Messages
         */
  		clearMessages(){
  			let ctrl = this;
  			ctrl.chats[ctrl.chatContactId] = ctrl.chatHistory[ctrl.chatContactId] = ctrl.chat = [];
  			ctrl.getById(ctrl.contact, ctrl.chatContactId).lastMessage = null;
  		},

        /**
         * Reset reply textarea
         */
  		resetReplyTextarea(){
  			let ctrl = this;
  			ctrl.replyMessage = "";
  			ctrl.textareaGrow = false;
  		},

        /**
         * Scroll Chat Content to the bottom
         * @param speed
         */
  		scrollToBottomOfChat(){
  			let ctrl = this;
  			setTimeout(() =>{
  				let chatContent = ctrl.$refs["msg_history"];
              // chatContent.animate({
  				chatContent.scrollTop = chatContent.scrollHeight;
              // }, 400);
  			}, 0);
  		},

        /**
         * Set User Status
         */
  		setUserStatus(status){
  			let ctrl = this;
  			ctrl.user.status = status;
  		},

        /**
         * Toggle sidenav
         *
         * @param sidenavId
         */
  		toggleSidenav(sidenavId){
  			let ctrl = this;
  			$mdSidenav(sidenavId).toggle();
  		},

        /**
         * Toggle Left Sidenav View
         *
         * @param view id
         */
  		toggleLeftSidenavView(id){
  			let ctrl = this;
  			ctrl.leftSidenavView = id;
  		},
  		getById (arr, value){
  			let ctrl = this;
  			if(arr.length > 0) {
  				return ctrl.$Lodash.filter(arr, function (x)
            {
  					return x && x.id === value;
  				})[0];
  			} else {
  				return undefined;
  			}
  		},

  		getByFbId(arr, value) {
  			let ctrl = this;
  			if(arr.length > 0) {
  				return ctrl.$Lodash.filter(arr, function (x)
            {
  					return x.fbId === value;
  				})[0];
  			} else {
  				return undefined;
  			}
  		},

  		last(arr){
  			return this[this.length - 1];
  		},

      // logOut() {
      //   FB.logout(function(response) {
      //     // user is now logged out
      //   });
      // }
  	},
  	mounted() {
  		window.smoothscroll = () => {
  			let currentScroll = document.documentElement.scrollTop || document.body.scrollTop;
  			if (currentScroll > 0) {
  				window.requestAnimationFrame(window.smoothscroll);
  				window.scrollTo(0, Math.floor(currentScroll - (currentScroll / 5)));
  			}
  		};
  	},
  	destroyed() {
      // clearInterval(this.InterVal)
  	},
  	socket: {

		prefix: "/facebook/",

			//namespace: "/counter",

		events: {
				/**
				 * Counter value is changed
				 * @param  {Number} msg Value of counter
				 */
			changed(res) {
  				console.log("res " , res);

					//this.changedValue(res.data);

					// ctrl.chat.unshift({
					// 	who: msg.from.id ==  ctrl.UserData.id ? "user" : "contact",
					// 	message: msg.message,
					// 	time: msg.created_time
					// });

			},
			created(res) {

			},
			newMessage(res){
				let id = res.message.sender.id != this.pageID?res.message.sender.id: res.message.recipient.id;
				let index = _.findIndex(this.contacts, { "fbId": id});
				let contact = this.contacts[index];
				contact.lastMessage = {
					who: "contact",
					message: res.message.message.text,
					time: new Date(parseInt(res.message.timestamp))
				};
				contact.unread ++;
				let messages = _.find(this.chatHistory, { "id": contact.id});
				messages.data.push(contact.lastMessage);
				if(id == this.current_fb_user){
					this.chat.push(contact.lastMessage);
					this.scrollToBottomOfChat();
				}
				this.contacts.splice(index,1);
				this.contacts.unshift(contact);
			}

		}
	},
  };
</script>

<style lang="scss" scoped>
 //colors
$color_desert_storm_approx: #f8f8f8;
$color_cloud_approx: #c4c4c4;
$color_blue_lagoon_approx: #05728f;
$color_celeste_approx: #cdcdcd;
$color_dove_gray_approx: #707070;
$color_tundora_approx: #464646;
$color_mountain_mist_approx: #989898;
$color_cararra_approx: #ebebeb;
$color_storm_dust_approx: #646464;
$color_tapa_approx: #747474;
$white: #fff;
$color_gravel_approx: #4c4c4c;

.container {
  max-width: 1170px;
  margin: auto;
}
img {
  max-width: 100%;
}
.inbox_people {
  background: $color_desert_storm_approx none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%;
  border-right: 1px solid $color_cloud_approx;
}
.inbox_msg {
  border: 1px solid $color_cloud_approx;
  clear: both;
  overflow: hidden;
  background: #fff;
  color: #ccc;
}
.top_spac {
  margin: 20px 0 0;
}
.recent_heading {
  float: left;
  width: 40%;
  h4 {
    color: $color_blue_lagoon_approx;
    font-size: 21px;
    margin: auto;
  }
}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%;
  input {
    border: 1px solid $color_celeste_approx;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
  }
  .input-group-addon {
    margin: 0 0 0 -27px;
    button {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border: medium none;
      padding: 0;
      color: $color_dove_gray_approx;
      font-size: 18px;
    }
  }
}
.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid $color_cloud_approx;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
  h5 {
    font-size: 15px;
    color: $color_tundora_approx;
    margin: 0 0 8px 0;
    span {
      font-size: 13px;
      float: right;
    }
  }
  p {
    font-size: 14px;
    color: $color_mountain_mist_approx;
    margin: auto;
  }
}
.chat_img {
  float: left;
  width: 11%;
}
.chat_people {
  overflow: hidden;
  clear: both;
}
.chat_list {
  border-bottom: 1px solid $color_cloud_approx;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat {
  height: calc(100vh - 200px);
  overflow-y: scroll;
}
.active_chat {
  background: $color_cararra_approx;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg {
  width: 57%;
  p {
    background: $color_cararra_approx none repeat scroll 0 0;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    color: $color_storm_dust_approx;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
}
.time_date {
  color: $color_tapa_approx;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}
.sent_msg {
  float: right;
  width: 46%;
  p {
    background: $color_blue_lagoon_approx none repeat scroll 0 0;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: $white;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
}
.outgoing_msg {
  overflow: hidden;
  margin: 26px 0;
}
.type_msg {
  border-top: 1px solid $color_cloud_approx;
  position: relative;
}
.msg_send_btn {
  background: $color_blue_lagoon_approx none repeat scroll 0 0;
  border: medium none;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging {
  padding: 0 0 50px 0;
}
.msg_history {
  height:  calc(100vh - 200px);
  overflow-y: auto;
}
.input_msg_write textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: $color_gravel_approx;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}
</style>
