
<template>
	<div>
		<page-header :toggle-sidebar="toggleSidebar"></page-header>
<!--			<section class="app-main">
			<router-view keep-alive="keep-alive"></router-view>
		</section>-->
		 <!-- <sidebar :minimized="miniSidebar"></sidebar> -->
		<section class="app-main" :class="{ miniSidebar: miniSidebar }">
			<router-view keep-alive="keep-alive"></router-view>
		</section>

	</div>
</template>
<script>
	import Vue from "vue";

	import PageHeader from "./components/header/index";
	import Sidebar from "./components/sidebar/index";

	import {clickOutside} from "./directive/clickOutside.js";

	import Service from "./service";
	import Utils from "./utils";
	import Hub from "./Hub";
	import Lodash from "lodash";
	import { mapActions, mapGetters } from "vuex";
	import BootstrapVue from 'bootstrap-vue';
	import jquery from 'vue-jquery';
	import "element-ui/lib/theme-chalk/index.css";
  Vue.use(BootstrapVue);
	Vue.use(Lodash);
	Vue.use(jquery);



	Vue.prototype.$Utils = Utils;
	Vue.prototype.$Lodash = Lodash;
	Vue.prototype._ = Lodash;
	Vue.prototype.$hub = Hub;
	window.$ = jquery;


	String.prototype.capitalizeFirstLetter = function () {
	  return this.charAt(0).toUpperCase() + this.slice(1);
	}
	String.prototype.replaceAll = function(str1, str2, ignore)
	{
	    return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),(ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2);
	}

	Vue.prototype.$getXmlPath = function() {
	  return xmlConfig.xmlPath;
	};

	Vue.prototype.$isNumeric = function(n) {
	  return !isNaN(parseFloat(n)) && isFinite(n);
	};



	var isMobile = {
	  Android: function() {
	    return navigator.userAgent.match(/Android/i);
	  },
	  BlackBerry: function() {
	    return navigator.userAgent.match(/BlackBerry/i);
	  },
	  iOS: function() {
	    return navigator.userAgent.match(/iPhone|iPad|iPod/i);
	  },
	  iPad: function() {
	    return navigator.userAgent.match(/iPad/i);
	  },
	  Opera: function() {
	    return navigator.userAgent.match(/Opera Mini/i);
	  },
	  Windows: function() {
	    return navigator.userAgent.match(/IEMobile/i);
	  },
	  any: function() {
	    return (
	      isMobile.Android() ||
	      isMobile.BlackBerry() ||
	      isMobile.iOS() ||
	      isMobile.Opera() ||
	      isMobile.Windows()
	    );
	  }
	};
	Vue.prototype.$isMobile= isMobile;

	if (
	  isMobile.Android() ||
	  isMobile.BlackBerry() ||
	  isMobile.iOS() ||
	  isMobile.Opera() ||
	  isMobile.Windows()
	) {
	  Vue.prototype.$isMobileDevice = true;
	} else {
	  Vue.prototype.$isMobileDevice = false;
	}
	if (document.location.protocol == "file:") {
	  Vue.prototype.$myDevice = "isMobileApp";
	  //loadjscssfile("bower_components/framework7/css/framework7.material.colors.css", "css");
	} else {
	  Vue.prototype.$myDevice = "notMobileApp";
	}
	if (isMobile.iOS() && document.location.protocol == "file:") {
	  Vue.prototype.$iPrefix = "";
	} else {
	  Vue.prototype.$iPrefix = "";
	}
	/*
		// Fix Facebook not showing index
		// Test for the ugliness.
		if (window.location.hash == '#_=_'){

			// Check if the browser supports history.replaceState.
			if (history.replaceState) {

				// Keep the exact URL up to the hash.
				var cleanHref = window.location.href.split('#')[0];

				// Replace the URL in the address bar without messing with the back button.
				history.replaceState(null, null, cleanHref);

			} else {

				// Well, you're on an old browser, we can get rid of the _=_ but not the #.
				window.location.hash = '';

			}

		}
	*/

	export default {

		/**
		 * Create websocket connection to the root namespace
		 */
		//mixins: [ MixinsIO() ],

		directives: {
		    clickOutside
		 },
		/**
		 * Load sub-components
		 */
		components: {
			PageHeader,
			Sidebar
		},

		/**
		 * Create app data object
		 *
		 * TODO: move to vuex state
		 */
		data() {
			return {
				wsReconnecting: false,
				miniSidebar: false
			};
		},

		watch: {
			$lng() {
				console.log("Language updated");
				this.update(this);
			}
		},

		/**
		 * Socket handlers. Every property is an event handler
		 */
		// socket: {
		// 	//prefix: "/facebook/",
		// 	events: {
		// 		/**
		// 		 * Send welcome message after connect
		// 		 */
		// 		connect() {
		// 			console.log("Websocket connected to " + this.$socket.nsp);

		// 			if (this.wsReconnecting)
		// 				// Reload browser if connection established after disconnect
		// 				window.location.reload(true);
		// 			else
		// 				this.$socket.emit("welcome", "Hello! " + navigator.userAgent);
		// 		},

		// 		disconnect() {
		// 			console.log("Websocket disconnected from " + this.$socket.nsp);
		// 			this.wsReconnecting = true;
		// 		},

		// 		error(err) {
		// 			console.error("Websocket error!", err);
		// 		},
		// 		tokenExpired(res){
		// 			this.$refs.myModalRef.show();
		// 		}
		// 	}
		// },

		methods: {
			...mapActions("session", [
				"getSessionUser"
			]),

			update: function(vm) {
				if (vm == null)
					return;

				let i = vm._watchers.length;
				while (i--)
					vm._watchers[i].update(true);

				let children = vm.$children;
				i = children.length;
				while (i--)
					this.update(children[i]);
			},

			toggleSidebar() {
				this.miniSidebar = !this.miniSidebar;
			}
		},

		/**
		 * Application created
		 */
		created() {
			console.log("App started!");
			window.app = this;

			this.getSessionUser();

			// debug
			window.postService = new Service("posts", this);
			window.pageService = new Service("pages", this);
			window.facebookService = new Service("facebook", this);
			window.folderService = new Service("folders", this);
			window.messageService = new Service("messages", this);
			window.contactService = new Service("contacts", this);
			window.conversationService = new Service("conversations", this);
			window.notificationService = new Service("notifications", this);
			window.peopleService = new Service("people", this);
			window.sessionService = new Service("session", this);
			window.profileService = new Service("profile",this);
			window.settingService = new Service("settings", this);
			window.fsettingService = new Service("fsetting", this);
			window.chatService = new Service("chat", this);
			window.crmService = new Service("crm", this);
			window.statisticsService = new Service("statistics", this);
			// this.$socket.on("/facebook/tokenExpired", res=>{
			// 	console.log("/facebook/tokenExpired from app vue", res);
			// })
		},
		mounted() {
			this.$hub.$on("connect", (res) => {
				console.log("Websocket connected to " + this.$socket.nsp);

				if (this.wsReconnecting)
					// Reload browser if connection established after disconnect
					window.location.reload(true);
				else
					this.$socket.emit("welcome", "Hello! " + navigator.userAgent);
			})

			this.$hub.$on("disconnect", (res) => {
				console.log("Websocket disconnected from " + this.$socket.nsp);
				this.wsReconnecting = true;
			})

			this.$hub.$on("error", (err)=>  {
				console.error("Websocket error!", err);
			})
			this.$hub.$on("tokenExpired", (res)=> {
				this.$refs.myModalRef.show();
			})
		},
		destroyed() {
		    this.$hub.$off("connect");
			this.$hub.$off("disconnect");
			this.$hub.$off("error");
			this.$hub.$off("tokenExpired");
		}
	};
</script>

<style lang="scss">
	@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
	@import "../../scss/newstyle.scss";
	body {
	    font-family: 'Roboto',Helvetica,Arial,sans-serif;
	    font-size: 14px;
	    line-height: 1.6;
	}
	pre, code, kbd, samp {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
		text-shadow: none;
		font-size: 14px;
    line-height: 1.6;
		font-weight: 400;
		color: #000;
		font-variant: tabular-nums;
		-webkit-font-feature-settings: 'tnum';
		font-feature-settings: 'tnum';
	}
	.app-main {
		padding-top: 56px;
	}
	.avatar{
		font-family: Montserrat-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 14px;
	    line-height: 1.5;
	    color: rgba(0,0,0,.65);
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    display: inline-block;
	    text-align: center;
	    background: #ccc;
	    color: #fff;
	    white-space: nowrap;
	    position: relative;
	    overflow: hidden;
	    width: 32px;
	    height: 32px;
	    border-radius: 16px;
	}
	.modal.show{
		.modal-dialog {
		}
	}
	.modal-content {
		//background: #0d1e27;
	}
	.modal-header {
		.close {
			//color: #fff;
		}
		.close:hover {
			//color: #ccc !important;
		}
	}
	.combobox.form-control {
		min-height: calc(2.25rem + 2px);
		height: auto;
	}
	.popover{
	    max-width: 100%; /* Max Width of the popover (depending on the container!) */

	    .popover-body {
	    	padding: 0px;
	    }
	}

	::-webkit-scrollbar {
	    width: 6px;
	    height: 6px;
	}
	::-webkit-scrollbar-thumb {
	    background-color: rgba(0,0,0,0.3);
	    border-radius: 5px;
	}
	::-webkit-scrollbar-track {
	    background-color: rgba(0,0,0,0.1);
	}
</style>

<style lang="css">
  	@import '../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
</style>
