
<template>

	<div class="container-fluid">
		<h2 class="title">
		  <img class="avatar" :src="pageId ? ('https://graph.facebook.com/'+pageId+'/picture'): ''"/> {{pageName}} /
		  {{ _('Conversations') }}</h2>
		<div class="header flex row justify-space-between">
			<div class="group sort">
				<a class="link" @click="changeSort('-votes')" :class="{ active: sort == '-votes' }">{{ _("Hot") }}</a>
				<a class="link" @click="changeSort('-views')" :class="{ active: sort == '-views' }">{{ _("MostViewed") }}</a>
				<a class="link" @click="loadConversations(false)" :class="{ active: sort == '-createdAt' }">{{ _("New") }}</a>
				<!-- <a class="link" @click="changeSort('-createdAt')" :class="{ active: sort == '-createdAt' }">{{ _("New") }}</a> -->
			</div>
			<!-- <button class="button primary" @click="newPost"><span class="icon"><i class="fa fa-plus"></i></span><span>{{ _("NewPost") }}</span></button> -->
			<div class="group filter">
				<a class="link" @click="changeViewMode('all')" :class="{ active: viewMode == 'all' }">{{ _("AllConversations") }}({{conversations.length}})</a>
				<a class="link" @click="changeViewMode('my')" :class="{ active: viewMode == 'my' }">{{ _("MyConversations") }}({{filteredOrderedRows.length}})</a>
			</div>
		</div>
		<div class="panel success">
			<div class="body">
				<!-- <div class="list"> -->

					<transition-group class="posts list" name="post" tag="div">
						<!-- <v-infinite-scroll @bottom="loadConversations(true)" class="sideBar align-top"> -->
						<div class="item" v-for="post of filteredOrderedRows" :key="post.id" @click="gotoChat(post.id)">

							<img class="avatar" :src="lastMessage(post).from.avatar"/>
							<!-- <img class="avatar" :src="chater.avatar" v-for="chater in post.senders" :key="chater.id"/> -->

							<div class="body" >
								<div v-if="lastMessage(post).sticker" >
									<img width="32px" :src="lastMessage(post).sticker" >
									<small class="text-muted">{{lastMessage(post).from.name}}</small>
								</div>
								<div v-else >
									<strong>{{post.snippet | truncate(100)}}
									<small class="text-muted">{{lastMessage(post).from.name}}</small>
									</strong>
									<p class="text-justify">{{post.snippet}}</p>
								</div>


							</div>
							<div class="footer text-right">

									<router-link :to="'/message/'+ pageId+ '/'+ post.id"><i class="fa fa-reply" v-if="post.can_reply"></i></router-link>
								<a :href="'https://www.facebook.com' + post.link" target="_blank" :title="_('LinkPage')" v-on:click.stop>
				                    <i class="fa fa-facebook"></i>
				                </a>
								<!-- <i class="fa fa-thumbs-o-up"></i> -->
								<i  v-if="post.unread_count > 0" class="fa fa-envelope-o">{{post.unread_count}}</i>
								<i class="fa fa-phone">{{post.phone_count}}{{countPhone(post.snippet)}}</i>
								<i class="fa fa-comments-o">{{post.message_count}}</i>
								<small class="text-muted">{{sentAgo(post)}}</small>
							</div>
						</div>
						<!-- </v-infinite-scroll> -->
					</transition-group>

				<!-- </div> -->
			</div>
		</div>

		<div class="loadMore text-center" v-if="hasMore">
			<button class="button outline" @click="loadConversations(true)" :class="{ 'loading': fetching }">Load more...</button>
		</div>
		<div class="noMore text-center" v-if="!hasMore">
			<span class="text-muted">No more item</span>
		</div>
		<hr/>
	</div>
</template>
<script>
import Vue from "vue";
import marked from "marked";
import toast from "../../core/toastr";
// import { cloneDeep } from "lodash";
import { validators, schema as schemaUtils } from "vue-form-generator";
import InfiniteScroll from "v-infinite-scroll";
import { mapGetters, mapActions } from "vuex";
import {
  nth,
  find,
  each,
  isObject,
  isArray,
  isFunction,
  isNil,
  isString,
  defaults,
  orderBy,
  includes,
  get,
  cloneDeep
} from "lodash";
//const PAGEID = '2004874763077886'
Vue.use(InfiniteScroll);
function searchInObject(obj, text) {
  text = text.toLowerCase();
  let values = Object.values(obj);
  let res = values.filter(val => {
    if (isObject(val)) {
      return searchInObject(val, text);
    } else if (isArray(val)) {
      return val.filter(item => searchInObject(item, text));
    } else if (isString(val)) {
      return val.toLowerCase().indexOf(text) != -1;
    }
  });
  return res.length > 0;
}

export default {
  computed: {
    ptoken() {
      return this.selectedPage ? this.selectedPage.access_token : undefined;
    },
    pageName() {
      return this.selectedPage ? this.selectedPage.name : undefined;
    },
    from() {
      let from = {
        id: this.pageId,
        avatar: "https://graph.facebook.com/" + this.pageId + "/picture",
        name: this.selectedPage ? this.selectedPage.name : undefined
      };
      return from;
    },
    ...mapGetters("session", {
      search: "searchText"
    }),
    ...mapGetters("conversations", [
      "conversations",
      "hasMore",
      "paging",
      "fetching",
      "sort",
      "viewMode"
    ]),
    ...mapGetters("session", ["me"]),
    filteredOrderedRows() {
      let items = this.conversations;
      if (this.search) {
        let search = this.search.toLowerCase();
        items = this.conversations.filter(function(row) {
          return searchInObject(row, search);
        });
      }
      //orderBy(items, this.order.field, this.order.direction == 1 ? "asc" : "desc");
      return items;
    }
  },

  /**
   * Set page schema as data property
   */
  data() {
    return {
      selectedPage: undefined,
      pageId: undefined,
      showForm: false,
      isNewPost: false,
      model: null,
      schema: {
        fields: [
          {
            type: "text",
            label: this._("Title"),
            model: "title",
            featured: true,
            required: true,
            placeholder: this._("TitleOfConversation"),
            validator: validators.string
          },
          {
            type: "textArea",
            label: this._("Content"),
            model: "content",
            featured: true,
            required: true,
            rows: 10,
            placeholder: this._("ContentOfConversation"),
            validator: validators.string
          }
        ]
      }
    };
  },

  /**
   * Socket handlers. Every property is an event handler
   */
  // socket: {
  //   prefix: "/conversations/",

  //   events: {
  //     conversationloaded(res) {
  //       console.log("conversationloaded ", res);
  //     },
  //     /**
  //      * New device added
  //      * @param  {Object} res Device object
  //      */
  //     /*
	// 			We don't use it because we don't know we need to add it to the page (filter, sort..etc)
	// 			created(res) {
	// 				this.created(res.data);
	// 				toast.success(this._("ConversationNameAdded", res), this._("ConversationAdded"));
	// 			},*/

  //     /**
  //      * Post updated
  //      * @param  {Object} res Conversation object
  //      */
  //     updated(res) {
  //       this.updated(res.data);
  //       toast.success(
  //         this._("ConversationNameUpdated", res),
  //         this._("ConversationUpdated")
  //       );
  //     },

  //     voted(res) {
  //       this.updated(res.data);
  //       toast.success(
  //         this._("ConversationNameVoted", res),
  //         this._("ConversationUpdated")
  //       );
  //     },

  //     unvoted(res) {
  //       this.updated(res.data);
  //       toast.success(
  //         this._("ConversationNameUnvoted", res),
  //         this._("ConversationUpdated")
  //       );
  //     },

  //     /**
  //      * Conversation removed
  //      * @param  {Object} res Conversation object
  //      */
  //     removed(res) {
  //       this.removed(res.data);
  //       toast.success(
  //         this._("ConversationNameDeleted", res),
  //         this._("ConversationDeleted")
  //       );
  //     }
  //   }
  // },

  methods: {
    gotoChat(threadId) {
      this.$router.push("/chat/" + this.pageId + "/" + threadId);
    },
    sender(conversation) {
      let sender = undefined;
      if (conversation && conversation.messages && conversation.messages.data) {
        sender =
          conversation.messages.data[conversation.messages.data.length - 1]
            .from;
        if (sender)
          sender.avatar =
            "https://graph.facebook.com/" + sender.id + "/picture";
        return sender;
        // sender = find(conversation.senders.data, (s) => { return s.id != this.pageId;});
        // if(sender) sender.avatar = 'https://graph.facebook.com/' + sender.id + '/picture'
      }
      return sender;
    },
    lastMessage(conversation) {
      let msg = undefined;
      if (conversation && conversation.messages && conversation.messages.data) {
        msg = conversation.messages.data[conversation.messages.data.length - 1];
        if ((msg, msg.from))
          msg.from.avatar =
            "https://graph.facebook.com/" + msg.from.id + "/picture"; //?access_token='+ this.ptoken;
        if ((msg, msg.to))
          msg.to.avatar =
            "https://graph.facebook.com/" + msg.to.id + "/picture"; //?access_token='+ this.ptoken
      }
      return msg;
    },
    ...mapActions("conversations", [
      "fb",
      "fbConversations",
      "getRows",
      "loadMoreRows",
      "changeSort",
      "changeViewMode",
      "vote",
      "unVote",
      "saveRow",
      "updateRow",
      "removeRow",
      "updated",
      "removed",
      "clear"
    ]),

    markdown(content) {
      return marked(content);
    },

    iVoted(post) {
      return _.find(post.voters, user => user.code == this.me.code) != null;
    },

    toggleVote(post) {
      if (this.iVoted(post)) this.unVote(post);
      else this.vote(post);
    },

    lastVoters(post, count = 5) {
      if (post.voters && post.voters.length > 0) {
        let voters = _.clone(post.voters)
          .reverse()
          .slice(0, 5);
        return voters;
      }
      return [];
    },

    createdAgo(post) {
      return this._("CreatedAgoByName", {
        ago: Vue.filter("ago")(post.createdAt),
        name: post.author.fullName
      });
    },

    editedAgo(post) {
      if (post.editedAt)
        return this._("EditedAgo", { ago: Vue.filter("ago")(post.editedAt) });
    },
    sentAgo(post) {
      if (post.updated_time)
        return this._("SentAgo", { ago: Vue.filter("ago")(post.updated_time) });
    },
    newPost() {
      this.model = schemaUtils.createDefaultObject(this.schema);
      this.showForm = true;
      this.isNewPost = true;

      this.focusFirstInput();
    },

    editPost(post) {
      this.model = cloneDeep(post);
      this.showForm = true;
      this.isNewPost = false;
      this.focusFirstInput();
    },

    focusFirstInput() {
      this.$nextTick(() => {
        let el = document.querySelector(
          ".conversationForm .form-control:nth-child(1):not([readonly]):not(:disabled)"
        );
        if (el) el.focus();
      });
    },

    focusFirstErrorInput() {
      this.$nextTick(() => {
        let el = document.querySelector(
          ".conversationForm .form-group.error .form-control"
        );
        if (el) el.focus();
      });
    },

    savePost() {
      if (this.$refs.form.validate()) {
        if (this.isNewPost) this.saveRow(this.model);
        else this.updateRow(this.model);

        this.cancelPost();
      } else {
        this.focusFirstErrorInput();
      }
    },

    cancelPost() {
      this.showForm = false;
      this.model = null;
    },

    deletePost(post) {
      this.removeRow(post);
    },
    loadConversations(more) {
      let cLimit = "conversations.limit(25)";
      if (more && this.paging.cursors && this.paging.cursors.after)
        cLimit += ".after(" + this.paging.cursors.after + ")";
      let conversations =
        "message_count,unread_count,link, snippet, updated_time, participants{name, id, email}, senders{name, id, email}, can_reply, is_subscribed";
      let mLimit = ",messages.limit(1)";
      let messages = "{id,message,from,to, sticker}";
      let conditions = cLimit + "{" + conversations + mLimit + messages + "}";
    //   console.log(conditions);
      // conditions = "conversations.limit(25).after("+this.paging.cursors.after+"){message_count,unread_count,link, snippet, updated_time, participants{name, id, email}, senders{name, id, email}, can_reply, is_subscribed, }"
      let cModel = [
        "/" + this.pageId,
        "GET",
        {
          access_token: this.ptoken,
          fields: conditions
        }
      ];
      this.fbConversations({ fbModel: cModel, loadMore: more }).then(
        conversations => {
        //   console.log(conversations);
        }
      );
	},
	isPhoneNumber(message) {
		//validate vietnamese phone
		let phoneno = /(09|01[2|6|8|9])+([0-9]{8})\b/g;
		//var phoneno = /^\d{10}$/;
		let phone = this.messageToPhone(message);
		if (phone.match(phoneno)) return true;
		return false;
		//return message && !isNaN(message);
	},
	countPhone(message) {
		//validate vietnamese phone
		let phoneno = /(09|01[2|6|8|9])+([0-9]{8})\b/g;
		return message.match(phoneno) ? message.match(phoneno).length : 0;

	},
	messageToPhone(message) {
		return message.replace(/\D/g, "");
	}
  },

  /**
   * Call if the component is created
   */
  mounted() {
    // //this.getRows();
    // console.log("conversations.params ", this.$route.params)
    // this.pageId = this.$route.params.id;
    // if(this.pageId) {
    // 	let pModel = ["/" + this.pageId, "GET", { fields: "access_token" }];
    // 	this.fb(pModel).then(token=> {
    // 		console.log(token)
    // 		if(token.access_token) this.ptoken = token.access_token;
    // 		if(this.ptoken) {
    // 			this.loadConversations()
    // 		}
    // 	})
    // } else {
    // 	this.conversations = [];
    // 	console.log('cached conversations ', this.conversations);
    // };
  },
  /**
   * Call if the component is mounted
   */
  created() {
    //this.getRows();
    this.clear();
    // console.log("conversations.params ", this.$route.params);
    this.pageId = this.$route.params.id;
    if (this.pageId) {
      let pModel = ["/" + this.pageId, "GET", { fields: "access_token, name" }];
      this.fb(pModel)
        .then(data => {
        //   console.log(data);
          this.selectedPage = data;
          if (this.ptoken) {
            this.loadConversations(false);
          }
        })
        .catch(err => {
          console.log(err);
        });
    } else {
      //this.conversations = [];
    //   console.log("cached conversations ", this.conversations);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../../scss/themes/blurred/variables";
@import "../../../scss/common/mixins";

.container {
  padding-bottom: 1rem;
}

.header {
  margin: 1rem;
}

.postForm {
  @include bgTranslucentDark(0.2);

  margin: 1rem;

  .buttons {
    padding: 0.5em;
  }
} // .postForm

ul.posts {
  margin: 1rem 3rem;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    margin: 1rem 0;
    padding: 0.5rem 0.5rem;
    font-size: 1.1rem;

    .media {
      background-color: rgba($color1, 0.5);
      transition: background-color 0.2s ease;
      &:hover {
        background-color: rgba($color1, 0.8);
      }
    }

    .votes {
      .count {
        font-weight: 300;
        font-size: 3em;
        margin: 1.5rem 0 2rem 0;
      }

      .thumb {
        cursor: pointer;
        font-size: 2em;

        &:hover {
          color: $headerTextColor;
        }
      }

      &.voted {
        .thumb {
          color: $successColor;

          &:hover {
            color: lighten($successColor, 10%);
          }
        }
      }
    } // .votes

    .voters {
      margin: 0 1em;
      img {
        margin: 0 0.4em;
        width: 32px;
        height: 32px;
        border-radius: $avatarRadius;
      }
    }

    .media-content {
      overflow-x: auto;

      h3 {
        margin: 0 0 0.5em 0;
      }
    }
  }
}

/* Transition styles */
/*
	.post-transition {
		transition: opacity .5s ease;
	}

	.post-enter {
		opacity: 0;
	}

	.post-leave {
		opacity: 0;
		position: absolute !important;
	}
*/
.post-move {
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
</style>
